@{
    ViewData["Title"] = "Ürün";
}
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Urun>

<style>
    .pagination-container ul.pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

        .pagination-container ul.pagination li {
            margin: 0 5px;
        }
</style>

    <div class="breadcumb-wrapper" data-bg-src="/home_panel/img/update_2/bg/breadcumb_bg_2.jpg">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">ÜRÜNLER</h1>
                <ul class="breadcumb-menu">
                    <li><a asp-controller="Urun" asp-action="Index" >Ana Sayfa</a></li>
                    <li>Ürünler</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="th-product-wrapper space-top space-extra-bottom">
        <div class="container">
            <div class="th-sort-bar">
                <div class="row justify-content-between align-items-center">

                <div class="col-md">
                    <p class="woocommerce-result-count">@ViewBag.TotalCount sonuçtan @ViewBag.StartCount–@ViewBag.EndCount arası gösteriliyor</p>
                </div>

                    <div class="col-md-auto">
                        <form class="woocommerce-ordering" method="get">
                            <select name="orderby" class="orderby" aria-label="Listeleme">
                            <option value="menu_order" selected="selected">Varsayılan Sırala</option>
                            <option value="rating">Ortalama Derecelendirmeye Göre Sırala</option>
                            <option value="date">En Yeniye Göre Sırala</option>
                            <option value="price">Fiyata Göre Düşükten Yükseğe</option>
                            <option value="price-desc">Fiyata Göre Yüksekten Düşüğe</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row gy-40">
                @foreach (var urun in Model)
                {
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="th-product">
                        <div class="product-img"><img style="height:240px" src="~/img/@urun.Fotograf" alt="Product Image"></div>
                            <div class="product-content">
                                <a href="shop.html" class="category">@urun.Kategori.Ad</a>
                                <div class="product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:75%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                    (4.00)
                                </div>
                                <h3 class="product-title"><a href="shop-details.html">@urun.Ad</a></h3>
                                <span class="price">@urun.Fiyat<del>$99.99</del></span>
                                <div class="actions"><a href="#QuickView" class="icon-btn popup-content"><i class="fal fa-eye"></i></a> <a href="cart.html" class="icon-btn"><i class="fal fa-cart-plus"></i></a> <a href="wishlist.html" class="icon-btn"><i class="fal fa-heart"></i></a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="th-pagination text-center pt-50">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
            </div>

    </section>