
@{
	ViewData["Title"] = "Menü";
	int menuSayı = 0;
}
@model MenuViewModel

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Menü</h2>
				<p class="mb-0">Cafe App Menü Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<div style="text-align:center" class="d-none d-lg-block">
				<a data-bs-toggle="modal" data-bs-target="#menüModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
					<span class="btn-icon-start text-primary">
						<i class="fa fa-burger-soda"></i>
					</span>Menü Ekle
				</a>
				@if (Model.Kategoriler.Count == 0)
				{
					<p style="color: red; font-size: 12px; text-align: center; padding-top:3px; margin-block:inherit"><i class="fa-sharp fa-solid fa-up"></i> İlk önce kategori eklemelisiniz! <i class="fa-sharp fa-solid fa-up"></i></p>
				}
				else
				{
					<br>
				}
			</div>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Menü Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
				<div class="card-body">
					<div class="table-responsive">

					<table id="example" class="display">
						<thead>
							<tr>
								<th></th>
								<th>ID</th>
								<th>AD</th>
								<th>AÇIKLAMA</th>
								<th>KATEGORİ</th>
								<th>FİYAT</th>
								<th>İNDİRİMLİ FİYAT</th>
								<th>GÖRÜNÜRLÜK</th>
								<th width="12%">İŞLEMLER</th>
							</tr>
						</thead>
						<tbody>

							@foreach (var menu in Model.Menuler)
							{

								<tr>
									<td><a data-bs-toggle="modal" data-bs-target="#menu_@menu.Id" class="btn btn-success shadow btn-xs sharp me-1" type="button"><i class="fas fa-info"></i></a></td>
									<td><b>@menu.Id</b></td>
									<td><div class="d-flex align-items-center"><img src="~/img/@menu.Fotograf" class="rounded-lg me-2" width="24" alt=""> <span class="w-space-no">  @menu.Ad</span></div></td>
									<td>@menu.Aciklama</td>
									<td>@menu.Kategori.Ad</td>
									<td>@menu.Fiyat ₺</td>
									@if (Model.MenuIndirimler.FirstOrDefault(x => x.MenuId == menu.Id)?.YeniFiyat != null)
									{
										<td>@Model.MenuIndirimler.FirstOrDefault(x => x.MenuId == menu.Id)?.YeniFiyat ₺</td>
									}
									else
									{
										<td> - </td>
									}
									@if (menu.Gorunurluk == true)
									{
										<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
									}
									else
									{
										<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
									}
									<td>
										<a data-bs-toggle="modal" data-bs-target="#menüMalzemeModal_@menu.Id" data-menuid="@menu.Id" class="btn btn-warning shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-wheat"></i></a>
										<a data-bs-toggle="modal" data-bs-target="#menüDüzenle_@menu.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
										@if (menu.Gorunurluk == true)
										{
											<a asp-action="MenuSil" asp-route-id="@menu.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
										}
										else
										{
											<a asp-action="MenuSil" asp-route-id="@menu.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
										}
									</td>
								</tr>

								// Menü Bilgisi
								<div class="modal modal-lg fade" id="menu_@menu.Id">
									<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">@menu.Ad Menü Bilgisi</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal">
												</button>
											</div>

											<div class="modal-body">
												<div class="row">
													<div class="col-xl-6 col-sm-6 mb-3 mb-xl-0">

														<div class="card">
															<div class="card-header">
																<h4 class="card-title">@menu.Ad</h4>
															</div>
															<div class="card-body">

																<div class="row">
																	<div class="col-lg-12 order-lg-12 mb-4">
																		<ul class="list-group list-group-flush mb-3">

																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-solid fa-text"></i>
																						</span>
																						Menü Ad
																					</h6>
																				</div>
																				<span class="text-muted text-end">@menu.Ad</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-solid fa-quote-right"></i>
																						</span>
																						Menü Açıklama
																					</h6>
																				</div>
																				<span class="text-muted text-end">@menu.Aciklama</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-regular fa-list"></i>
																						</span>
																						Menü Kategori
																					</h6>
																				</div>
																				<span class="text-muted text-end">@menu.Kategori.Ad</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-regular fa-money-bill"></i>
																						</span>
																						Menü Fiyat
																					</h6>
																				</div>
																				<span class="text-muted text-end">₺@menu.Fiyat</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-regular fa-wave-pulse"></i>
																						</span>
																						Menü Aktiflik
																					</h6>
																				</div>
																				<span class="text-muted text-end">@menu.Akitf</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-solid fa-eye-slash"></i>
																						</span>
																						Menü Görünürlük
																					</h6>
																				</div>
																				@if (menu.Gorunurluk == true)
																				{
																					<span class="text-success text-end" style="font-weight:bold">Görünür</span>
																				}
																				else
																				{
																					<span class="text-danger text-end" style="font-weight:bold">Görünmez</span>
																				}
																			</li>

																		</ul>
																	</div>

																</div>
															</div>
														</div>

													</div>

													<div class="col-xl-6 col-sm-6 mb-3 mb-xl-0">

														<div class="card">
															<div class="card-header">
																@foreach (var urunBilgi in Model.MenuUrunler)
																{
																	if (urunBilgi.MenuId == menu.Id)
																	{
																		menuSayı += 1;
																	}
																}
																<h4 class="card-title">Ürünler (@menuSayı)</h4>
																@{
																	menuSayı = 0;
																}
															</div>
															<div class="card-body">

																<div class="row">
																	<div class="col-lg-12 order-lg-12 mb-4">
																		<ul class="list-group list-group-flush mb-3">
																			@foreach (var urunBilgi in Model.MenuUrunler)
																			{
																				if (urunBilgi.Menu.Id == menu.Id && urunBilgi.Gorunurluk == true)
																				{

																					<li class="list-group-item d-flex justify-content-between lh-condensed">
																						<div>
																							<h6 class="my-0">
																								<span class="icon-warning">
																									<i class="fa-solid fa-wheat"></i>
																								</span>
																								@urunBilgi.Urun.Ad
																							</h6>
																							<small class="text-success">₺@urunBilgi.Urun.Fiyat</small>
																							<small class="text-muted"> | </small>
																							<small class="text-danger">@urunBilgi.Miktar Adet</small>
																						</div>
																						<span class="text-muted"><a asp-action="UrunSil" asp-route-id="@menu.Id" asp-route-urunId="@urunBilgi.Urun.Id" class=" btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a></span>
																					</li>
																				}
																			}
																		</ul>
																	</div>

																</div>
															</div>
														</div>

													</div>
												</div>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
											</div>

										</div>
									</div>
								</div>
								
							}

						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->
<div class="modal modal-lg fade" id="menüModal">
@if (Model.Kategoriler.Count != 0)
{
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Menü Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" enctype="multipart/form-data" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="Ad" asp-for="Menu.Ad" type="text" class="form-control" placeholder="">
							<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Menü Adı</label>
								<span class="validation-text" asp-validation-for="Menu.Ad"></span>

						</div>
						<div class="form-floating col-md-6 mb-3">
							<input id="Aciklama" asp-for="Menu.Aciklama" type="text" class="form-control" placeholder="">
							<label for="Aciklama" class="form-label">&nbsp;&nbsp;&nbsp;Menü Açıklama</label>
								<span class="validation-text" asp-validation-for="Menu.Aciklama"></span>

						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="Fiyat" asp-for="Menu.Fiyat" type="number" class="form-control" placeholder="">
							<label for="Fiyat" class="form-label">&nbsp;&nbsp;&nbsp;Menü Fiyat</label>
								<span class="validation-text" asp-validation-for="Menu.Fiyat"></span>
						</div>

						<div class="col-md-6 mb-3">
							<input asp-for="Menu.Fotograf" id="formFile" class="form-control" name="file" type="file">
							<span class="validation-text" asp-validation-for="Menu.Fotograf"></span>
						</div>
					</div>
						<div style="text-align:center; margin:auto; width: 50%;" class="row">
						
							<div class="col-md-12 mb-3">
								<select id="KategoriId" asp-for="Menu.KategoriId" class="default-select form-control wide w-100 required">
									<option value=0 disabled selected>Menü Kategori</option>
									@foreach (var item in Model.Kategoriler)
									{
										<option value="@item.Id">@item.Ad</option>
									}
								</select>
									<span class="validation-text" asp-validation-for="Menu.KategoriId"></span>
							</div>
						</div>
					<input asp-for="Menu.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
					<input asp-for="Menu.Akitf" type="hidden" class="form-control" placeholder="" value=True required="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
}
else
{
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Kategori Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="Ad" asp-for="Kategori.Ad" type="text" class="form-control" placeholder="">
							<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Kategori Adı</label>
								<span class="validation-text" asp-validation-for="Kategori.Ad"></span>

						</div>
						<div class="col-md-6">
							<select asp-for="Kategori.Tur" class="default-select form-control wide w-100 required">
								<option disabled>Kategori</option>
								<option value="Masa" disabled>Masa</option>
								<option value="Menü" selected>Menü</option>
								<option value="Ürün" disabled>Ürün</option>
							</select>
								<span class="validation-text" asp-validation-for="Kategori.Tur"></span>

						</div>
					</div>
					<input asp-for="Kategori.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
}
</div>

@* Ürün Seç *@
@foreach (var menu in Model.Menuler)
{
	<div class="modal modal-md fade" id="menüMalzemeModal_@menu.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Ürünleri Seç</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<form action="@Url.Action("UrunSec")" method="post" class="urunForm">
					<div class="modal-body">
						@foreach (var item in Model.Urunler)
						{
							<div class="form-check">
								@{
									// Ürünün menülerle ilişkilendirilip ilişkilendirilmediğini kontrol ediyoruz
									var menuUrun = Model.MenuUrunler.FirstOrDefault(mu => mu.UrunId == item.Id && mu.MenuId == menu.Id);
									if (menuUrun != null)
									{
										<input type="checkbox" class="form-check-input" value="@item.Id" checked>
										<label class="form-check-label">@item.Ad - <strong class="text-success">₺@item.Fiyat</strong></label>
										<input type="number" class="form-control" name="miktar" placeholder="Miktar" value="@menuUrun.Miktar">
									}
									else
									{
										<input type="checkbox" class="form-check-input custom-checkbox checkbox-success" value="@item.Id">
										<label class="form-check-label">@item.Ad - <strong class="text-success">₺@item.Fiyat</strong></label>
										<input type="number" class="form-control" name="miktar" placeholder="Miktar" style="display:none;">
									}
								}
							</div>
						}

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="button" class="btn btn-primary submitBtn">Kaydet</button>
					</div>

					<input type="hidden" name="menuId" value="@menu.Id" />
					<input asp-for="@Model.SecilenUrunler" class="secilenUrun" type="hidden" />

				</form>
			</div>
		</div>
	</div>
}

@* Menü Düzenle *@
@foreach (var menu in Model.Menuler)
{
	<div class="modal modal-lg fade" id="menüDüzenle_@menu.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Menü Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="Index" enctype="multipart/form-data" method="post" novalidate>
					<div class="modal-body">
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="Ad" asp-for="Menu.Ad" type="text" value="@menu.Ad" class="form-control" placeholder="">
								<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Menü Adı</label>
								<span class="validation-text" asp-validation-for="Menu.Ad"></span>

							</div>
							<div class="form-floating col-md-6 mb-3">
								<input id="Aciklama" asp-for="Menu.Aciklama" type="text" value="@menu.Aciklama" class="form-control" placeholder="" required="">
								<label for="Aciklama" class="form-label">&nbsp;&nbsp;&nbsp;Menü Açıklama</label>
								<span class="validation-text" asp-validation-for="Menu.Aciklama"></span>

							</div>
						</div>
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="Fiyat" asp-for="Menu.Fiyat" type="text" value="@menu.Fiyat" class="form-control" placeholder="" required="">
								<label for="Fiyat" class="form-label">&nbsp;&nbsp;&nbsp;Menü Fiyat</label>
								<span class="validation-text" asp-validation-for="Menu.Fiyat"></span>

                            </div>
							<div class="col-md-6 mb-3">
                                <input asp-for="Menu.Fotograf" value="@menu.Fotograf" id="formFile" class="form-control" name="file" type="file">
                                <span class="validation-text" asp-validation-for="Menu.Fotograf"></span>

                            </div>
						</div>
						<div style="text-align:center; margin:auto; width: 50%;" class="row">
							<div class="col-md-12 mb-3">
								<select id="KategoriId" asp-for="Menu.KategoriId" class="default-select form-control wide w-100 required">
									<option disabled>Menü Kategori</option>
									@foreach (var item in Model.Kategoriler)
									{
										if (item.Id == menu.KategoriId)
										{
											<option value="@item.Id" selected>@item.Ad</option>
										}
										else
										{
											<option value="@item.Id">@item.Ad</option>
										}
									}
								</select>
								<span class="validation-text" asp-validation-for="Menu.KategoriId"></span>

							</div>
						</div>
						<input asp-for="Menu.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True>
						<input asp-for="Menu.Akitf" type="hidden" class="form-control" placeholder="" value=True>
						<input asp-for="Menu.Id" type="hidden" class="form-control" placeholder="" value=@menu.Id>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	</div>
}



<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$('input[type="checkbox"]').change(function () {
			var input = $(this).siblings('input[name="miktar"]');
			if ($(this).is(':checked')) {
				input.show();
			} else {
				input.hide();
			}
		});

		$('.submitBtn').click(function (e) {
			e.preventDefault();
			var secilenUrunler = [];
			var form = $(this).closest('form'); // Bu butona ait formu bul
			form.find('input[type="checkbox"]:checked').each(function () { // Form içindeki seçili checkboxları bul
				var urunId = $(this).val();
				var miktar = $(this).siblings('input[name="miktar"]').val();
				secilenUrunler.push({ UrunId: urunId, Miktar: miktar });
			});
			var jsonData = JSON.stringify(secilenUrunler);
			form.find(".secilenUrun").val(jsonData);
			form.submit();
		});




		// Fotoğraf
		document.querySelector("#formFile").onchange = function () {
			const fileName = this.files[0]?.name;
			const label = document.querySelector("label[for=formFile]");
			label.innerText = fileName ?? "Fotoğraf Yükle";
		};



	</script>
}

