
@{
    ViewData["Title"] = "Rezervasyon";
}
@model Rezervasyon

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Rezervasyon</h2>
				<p class="mb-0">Cafe App Rezervasyon Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<a data-bs-toggle="modal" data-bs-target="#rezervasyonModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
				<span class="btn-icon-start text-primary">
					<i class="fa fa-user-plus color-primary"></i>
				</span>Rezervasyon Ekle
			</a>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Rezervasyon Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
				<div class="card-body">
					<div class="table-responsive">

						<table id="example" class="display">
							<thead>
								<tr>
									<th>ID</th>
									<th>TARİH</th>
									<th>BAŞLANGIÇ - BİTİŞ SAATİ</th>
									<th>KİŞİ SAYISI</th>
									<th>TALEP</th>
									<th>ONAY</th>
									<th>TALEP TARİHİ</th>
									<th style="width:85px;">İŞLEMLER</th>
								</tr>
							</thead>
							<tbody>

								@foreach (var rezervasyon in ViewBag.Rezervasyonlar)
								{
									<tr>
										<td><b>@rezervasyon.Id</b></td>
										<td>@rezervasyon.Tarih</td>
										<td>@rezervasyon.BaslangicSaat - @rezervasyon.BitisSaat</td>
										<td>@rezervasyon.KisiSayisi</td>
										<td>@rezervasyon.Talep</td>
										@switch (@rezervasyon.Onay)
										{
											case 1:
												<td class="text-warning">Onay Bekliyor</td>
												break;
											case 2:
												<td class="text-success">Onaylandı</td>
												break;
											case 3:
												<td class="text-success">Bitti</td>
												break;
											case 4:
												<td class="text-danger">İptal Edildi</td>
												break;
											case 5:
												<td class="text-danger">Onaylanmadı</td>
												break;

										}
										<td>@rezervasyon.TalepTarihi</td>
										<td>
											<a data-bs-toggle="modal" data-bs-target="#rezervasyon_@rezervasyon.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
										</td>
									</tr>

									

								}

							</tbody>
						</table>

					</div>
				</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="rezervasyonModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Rezervasyon Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="KisiSayisi" asp-for="KisiSayisi" type="number" class="form-control" placeholder="" required="">
							<label for="KisiSayisi" class="form-label">&nbsp;&nbsp;&nbsp;Rezervasyon Kişi Sayısı</label>
							<span class="text-danger" asp-validation-for="KisiSayisi"></span>

						</div>
						<div class="form-floating col-md-6 mb-3">
							<input id="Talep" asp-for="Talep" type="text" class="form-control" placeholder="">
							<label for="Talep" class="form-label">&nbsp;&nbsp;&nbsp;Rezervasyon Talep</label>
							<span class="text-danger" asp-validation-for="Talep"></span>

						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<div class="input-group inputx" data-placement="bottom" data-align="top" data-autobtn-close="true">
								<input type="text" asp-for="BaslangicSaat" class="form-control" value="12:00">
								<span class="input-group-text"><i class="far fa-clock"></i></span>
							</div>
							<span class="text-danger" asp-validation-for="BaslangicSaat"></span>
						</div>
						<div class="form-floating col-md-6 mb-3">
							<div class="input-group inputx" data-placement="bottom" data-align="top" data-autobtn-close="true">
								<input type="text" asp-for="BitisSaat" class="form-control" value="12:00">
								<span class="input-group-text"><i class="far fa-clock"></i></span>
							</div>
							<span class="text-danger" asp-validation-for="BitisSaat"></span>

						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input asp-for="Tarih" id="datepicker2" class=" form-control mb-3 mb-xl-0" required>
							<label for="datepicker2" class="form-label">&nbsp;&nbsp;&nbsp;Rezervasyon Tarihi</label>
							<span class="text-danger" asp-validation-for="Tarih"></span>

						</div>
					</div>
					<input asp-for="Gorunurluk" type="hidden" class="form-control" value=True required="">
					<input asp-for="Onay" type="hidden" class="form-control" value=2 required="">
					<input asp-for="TalepTarihi" type="hidden" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" required="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
</div>

@* Rezervasyon Düzenle *@
@foreach (var rezervasyon in ViewBag.Rezervasyonlar)
{
	<div class="modal modal-lg fade" id="rezervasyon_@rezervasyon.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Rezervasyon Güncelle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="Index" method="post" novalidate>
					<div class="modal-body">
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="KisiSayisi" asp-for="KisiSayisi" type="number" class="form-control" placeholder="" required="">
								<label for="KisiSayisi" class="form-label">&nbsp;&nbsp;&nbsp;Rezervasyon Kişi Sayısı</label>
								<span class="text-danger" asp-validation-for="KisiSayisi"></span>

							</div>
							<div class="form-floating col-md-6 mb-3">
								<input id="Talep" asp-for="Talep" type="text" class="form-control" placeholder="">
								<label for="Talep" class="form-label">&nbsp;&nbsp;&nbsp;Rezervasyon Talep</label>
								<span class="text-danger" asp-validation-for="Talep"></span>

							</div>
						</div>
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autobtn-close="true">
									<input type="number" asp-for="BaslangicSaat" class="form-control" value="12:00">
									<span class="input-group-text"><i class="far fa-clock"></i></span>
								</div>
								<span class="text-danger" asp-validation-for="BaslangicSaat"></span>
							</div>
							<div class="form-floating col-md-6 mb-3">
								<div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autobtn-close="true">
									<input type="number" asp-for="BitisSaat" class="form-control" value="12:00">
									<span class="input-group-text"><i class="far fa-clock"></i></span>
								</div>
								<span class="text-danger" asp-validation-for="BitisSaat"></span>

							</div>
						</div>
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input asp-for="Tarih" id="datepicker2" class=" form-control mb-3 mb-xl-0" required>
								<label for="datepicker" class="form-label">&nbsp;&nbsp;&nbsp;Rezervasyon Tarihi</label>
								<span class="text-danger" asp-validation-for="Tarih"></span>

							</div>
						</div>
						<input asp-for="Gorunurluk" type="hidden" class="form-control" value=True required="">
						<input asp-for="Onay" type="hidden" class="form-control" value=2 required="">
						<input asp-for="TalepTarihi" type="hidden" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" required="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	</div>
}

<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script src="~/admin_panel/js/plugins-init/clock-picker-init.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());
		});

		var input = $('.inputx').clockpicker({
			placement: 'bottom',
			align: 'left',
			autoclose: true,
			'default': 'now'
		});

	</script>
}
