
@{
    ViewData["Title"] = "Personel";
}
@model PersonelViewModel

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Personel</h2>
				<p class="mb-0">Cafe App Personel Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<a data-bs-toggle="modal" data-bs-target="#personelModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
				<span class="btn-icon-start text-primary">
					<i class="fa fa-user-plus color-primary"></i>
				</span>Personel Ekle
			</a>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-filter me-2"></i>Filtrele
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
			<div class="cm-content-body form excerpt">
				<div class="card-body">
					<div class="row">
						<div class="col-xl-3 col-sm-6">
							<input type="text" class="form-control mb-3 mb-xl-0" id="exampleFormControlInput1" placeholder="Personel Adı">
						</div>
						<div class="col-xl-3 col-sm-6 mb-3 mb-xl-0">
							<select class="default-select dashboard-select-2 wide w-100">
								<option selected>Personel Rolü</option>
								<option value="1">Published</option>
								<option value="2">Draft</option>
								<option value="3">Trash</option>
								<option value="4">Private</option>
								<option value="5">Pending</option>
							</select>
						</div>
						<div class="col-xl-3 col-sm-6">
							<input id="datepicker5" class=" form-control mb-3 mb-xl-0">
						</div>
						<div class="col-xl-3 col-sm-6">
							<button class="btn btn-primary" title="Aramak İçin Tıklayın" type="button"><i class="fa fa-search me-1"></i>Filtrele</button>
							<button class="btn btn-danger light" title="Filtreyi Kaldırmak İçin Tıklayın" type="button">Kaldır</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Personel Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
				<div class="card-body">
					<div class="table-responsive">

						<table id="example" class="display">
							<thead>
								<tr>
									<th><strong>Id</strong></th>
									<th><strong>Ad-Soyad</strong></th>
									<th><strong>Rol</strong></th>
									<th><strong>E-Posta</strong></th>
									<th><strong>Telefon</strong></th>
									<th><strong>Giriş Tarihi</strong></th>
									<th><strong>Çalışma Durumu</strong></th>
									<th><strong>Görünürlük</strong></th>
									<th style="width:85px;"><strong>İşlemler</strong></th>
								</tr>
							</thead>
							<tbody>

								@foreach (var personel in Model.Personeller)
								{
									<tr>
										<td><b>@personel.Id</b></td>
										<td><div class="d-flex align-items-center"><img src="~/img/@personel.Fotograf" class="rounded-lg me-2" width="24" alt=""> <span class="w-space-no">@personel.Ad @personel.Soyad</span></div></td>
										<td>@personel.Rol?.Ad</td>
										<td>@personel.Eposta</td>
										<td>@personel.Telefon</td>
										<td>@personel.BaslamaTarihi</td>
										<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Çalışıyor</td>
										@if(personel.Gorunurluk == true)
										{
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
										}
										else
										{
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
										}
										<td>
											<a data-bs-toggle="modal" data-bs-target="#duzenle_@personel.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											@if(personel.Gorunurluk == true)
											{
												<a asp-action="PersonelSil" asp-route-id="@personel.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
											}
											else
											{
												<a asp-action="PersonelSil" asp-route-id="@personel.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
											}
										</td>
									</tr>

									<div class="modal modal-lg fade" id="duzenle_@personel.Id">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Personel Düzenle</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal">
													</button>
												</div>

												<form asp-action="Index" enctype="multipart/form-data" class="needs-validation" method="post">
													<div class="modal-body">
														<div style="margin-bottom:9px" class="row">
															<div class="col-md-6 mb-3">
																<label class="form-label">Personel Adı</label>
																<input type="text" class="form-control" asp-for="Personel.Ad" value="@personel.Ad" placeholder="" required>
																<div class="invalid-feedback">
																	Zorunlu Alan
																</div>
															</div>
															<div class="col-md-6 mb-3">
																<label class="form-label">Personel Soyadı</label>
																<input type="text" class="form-control" asp-for="Personel.Soyad" value="@personel.Soyad" placeholder="" required>
																<div class="invalid-feedback">
																	Zorunlu Alan
																</div>
															</div>
														</div>
														<div style="margin-bottom:9px" class="row">
															<div class="col-md-4 mb-3">
																<label for="email" class="form-label">E-Posta Adresi</label>
																<input type="text" class="form-control" asp-for="Personel.Eposta" value="@personel.Eposta" placeholder="E-Posta" required="">
																<div class="invalid-feedback" style="width: 100%;">
																	Zorunlu Alan
																</div>
															</div>
															<div class="col-md-4 mb-3">
																<label class="form-label">Rol </label>
																<select asp-for="Personel.RolId" class="default-select form-control wide w-100 required">
																	<option disabled="disabled">Rol</option>
																	@foreach (var item in Model.Roller)
																	{
																		if (item.Id == personel.RolId)
																		{
																			<option value="@item.Id" selected>@item.Ad</option>
																		}
																		else
																		{
																			<option value="@item.Id">@item.Ad</option>
																		}
																	}
																</select>
																<div class="invalid-feedback">
																	Zorunlu Alan
																</div>
															</div>
															<div class="col-md-4 mb-3">
																<label for="email" class="form-label">Maaş</label>
																<input type="number" class="form-control" asp-for="Personel.Maas" value="@personel.Maas" placeholder="Maaş" required="">
																<div class="invalid-feedback" style="width: 100%;">
																	Zorunlu Alan
																</div>
															</div>
														</div>
														<div style="margin-bottom:9px" class="row">
															<div class="col-md-6 mb-3">
																<label for="formFile" class="form-label">Personel Fotoğrafı</label>
																<input asp-for="Personel.Fotograf" id="formFile" class="form-control" value="@personel.Fotograf" name="file" type="file">
															</div>

															<div class="col-md-6 mb-3">
																<label class="form-label">Cinsiyet</label>
																<select asp-for="Personel.Cinsiyet" class="default-select form-control required wide w-100" required>
																	<option value="" selected>Cinsiyet</option>
																	@if (personel.Cinsiyet == "Kadın")
																	{
																		<option selected>Kadın</option>
																		<option>Erkek</option>
																	}
																	else
																	{
																		<option>Kadın</option>
																		<option selected>Erkek</option>
																	}
																</select>
																<div class="invalid-feedback">
																	Zorunlu Alan
																</div>
															</div>
														</div>
														<div style="margin-bottom:9px" class="row">
															<div class="col-md-6 mb-3">
																<label class="form-label">Parola</label>
																<div class="input-group transparent-append">
																	<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
																	<input type="password" class="form-control" asp-for="Personel.Parola" placeholder="" required>
																	<span class="input-group-text show-pass border-left-end">
																		<i class="fa fa-eye-slash"></i>
																		<i class="fa fa-eye"></i>
																	</span>
																	<div class="invalid-feedback">
																		Zorunlu Alan
																	</div>
																</div>
																<div class="invalid-feedback">
																	Zorunlu Alan
																</div>
															</div>
															<div class="col-md-6 mb-3">
																<label class="form-label">Telefon Numarası</label>
																<div class="input-group">
																	<span class="input-group-text">+90</span>
																	<input type="number" class="form-control border-left-end" asp-for="Personel.Telefon" value="@personel.Telefon" placeholder="" required>
																	<div class="invalid-feedback">
																		Zorunlu Alan
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-md-12 mb-3">
																<div style="margin-bottom:9px" class="mb-3">
																	<label for="address" class="form-label">Adres</label>
																	<textarea asp-for="Personel.Adres" type="text" class="form-control" required>@personel.Adres</textarea>
																	<div class="invalid-feedback">
																		Zorunlu Alan
																	</div>
																</div>
															</div>
														</div>
														<div style="margin-bottom:9px" class="row">
															<div class="col-md-6 mb-3">
																<label class="form-label">Doğum Tarihi</label>
																<input style="text-align:center" asp-for="Personel.DogumTarihi" value="@personel.DogumTarihi" id="datepicker3" class=" form-control mb-3 mb-xl-0" required>
															</div>
															<div class="col-md-6 mb-3">
																<label class="form-label">Başlama Tarihi</label>
																<input style="text-align:center" asp-for="Personel.BaslamaTarihi" value="@personel.BaslamaTarihi" id="datepicker4" class=" form-control mb-3 mb-xl-0" required>
															</div>
														</div>
														<input type="hidden" asp-for="Personel.Gorunurluk" value=true />
														<input type="hidden" asp-for="Personel.Id" value=@personel.Id />
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
														<button type="submit" class="btn btn-primary">Kaydet</button>
													</div>
												</form>

											</div>
										</div>
									</div>
								}


							</tbody>
						</table>

					</div>
				</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="personelModal">
	@if (Model.Roller.Count != 0)
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Personel Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" enctype="multipart/form-data" class="needs-validation" method="post">
				<div class="modal-body">
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label">Personel Adı</label>
							<input type="text" class="form-control" asp-for="Personel.Ad" placeholder="" required>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label class="form-label">Personel Soyadı</label>
								<input type="text" class="form-control" asp-for="Personel.Soyad" placeholder="" required>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
					</div>
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-4 mb-3">
							<label for="email" class="form-label">E-Posta Adresi</label>
								<input type="text" class="form-control" asp-for="Personel.Eposta" placeholder="E-Posta" required="">
							<div class="invalid-feedback" style="width: 100%;">
								Zorunlu Alan
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label class="form-label">Rol </label>
								<select asp-for="Personel.RolId" class="default-select form-control wide w-100 required">
								<option disabled="disabled" selected>Rol</option>
								@foreach (var item in Model.Roller)
								{
									<option value="@item.Id">@item.Ad</option>
								}
							</select>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="email" class="form-label">Maaş</label>
								<input type="number" class="form-control" asp-for="Personel.Maas" placeholder="Maaş" required="">
							<div class="invalid-feedback" style="width: 100%;">
								Zorunlu Alan
							</div>
						</div>
					</div>
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label for="formFile" class="form-label">Personel Fotoğrafı</label>
								<input asp-for="Personel.Fotograf" id="formFile" class="form-control" name="file" type="file">
						</div>

						<div class="col-md-6 mb-3">
							<label class="form-label">Cinsiyet</label>
								<select asp-for="Personel.Cinsiyet" class="default-select form-control required wide w-100" required>
								<option value="" selected>Cinsiyet</option>
								<option>Kadın</option>
								<option>Erkek</option>
							</select>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
					</div>
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label">Parola</label>
							<div class="input-group transparent-append">
								<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
									<input type="password" class="form-control" asp-for="Personel.Parola" placeholder="" required>
								<span class="input-group-text show-pass border-left-end">
									<i class="fa fa-eye-slash"></i>
									<i class="fa fa-eye"></i>
								</span>
								<div class="invalid-feedback">
									Zorunlu Alan
								</div>
							</div>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label class="form-label">Telefon Numarası</label>
							<div class="input-group">
								<span class="input-group-text">+90</span>
									<input type="number" class="form-control border-left-end" asp-for="Personel.Telefon" placeholder="" required>
								<div class="invalid-feedback">
									Zorunlu Alan
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-3">
							<div style="margin-bottom:9px" class="mb-3">
								<label for="address" class="form-label">Adres</label>
									<textarea asp-for="Personel.Adres" type="text" class="form-control" placeholder="" required></textarea>
								<div class="invalid-feedback">
									Zorunlu Alan
								</div>
							</div>
						</div>
					</div>
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label">Doğum Tarihi</label>
								<input style="text-align:center" asp-for="Personel.DogumTarihi" id="datepicker1" class=" form-control mb-3 mb-xl-0" required>
						</div>
						<div class="col-md-6 mb-3">
							<label class="form-label">Başlama Tarihi</label>
								<input style="text-align:center" asp-for="Personel.BaslamaTarihi" id="datepicker2" class=" form-control mb-3 mb-xl-0" required>
						</div>
					</div>
						<input type="hidden" asp-for="Personel.Gorunurluk" value=true />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
		</div>
	}
	else
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Rol Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="Index" class="needs-validation" method="post">
					<div class="modal-body">
						<div style="margin-bottom:9px" class="row">
							<div class="col-md-6 mb-3">
								<label class="form-label">Rol Adı</label>
								<input asp-for="Rol.Ad" type="text" class="form-control" placeholder="" required="">
								<input asp-for="Rol.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
								<div class="invalid-feedback">
									Zorunlu Alan
								</div>
							</div>
							<div class="col-md-6 mb-3">
								<label class="form-label">Ekstra Bilgi</label>
								<input type="text" class="form-control" placeholder="" value="" @* required="" *@>

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	}
</div>



<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>

		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker1").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker3").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker4").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		document.querySelector("#formFile").onchange = function () {
			const fileName = this.files[0]?.name;
			const label = document.querySelector("label[for=formFile]");
			label.innerText = fileName ?? "Fotoğraf Yükle";
		};

	<script>
		(function ($) {

			var table = $('#dataTable').DataTable({
				searching: false,
				paging: true,
				select: false,
				//info: false,
				lengthChange: false

			});
			$('#example tbody').on('click', 'tr', function () {
				var data = table.row(this).data();

			});

		})(jQuery);
	</script>

	</script>
}
