
@{
    ViewData["Title"] = "Personel";
}
@model PersonelViewModel

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Personel</h2>
				<p class="mb-0">Cafe App Personel Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<div class="d-none d-lg-block">
				<a data-bs-toggle="modal" data-bs-target="#personelModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
					<span class="btn-icon-start text-primary">
						<i class="fa fa-user-plus color-primary"></i>
					</span>Personel Ekle
				</a>
				@if (Model.Roller.Count == 0)
				{
					<p style="color: red; font-size: 12px; text-align: center; padding-top:3px">İlk önce rol eklemelisiniz!</p>
				}
				else
				{
					<br>
				}
			</div>
		</div>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Personel Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
				<div class="card-body">
					<div class="table-responsive">

						<table id="example" class="display">
							<thead>
								<tr>
									<th>ID</th>
									<th>AD-SOYAD</th>
									<th>ROL</th>
									<th>E-POSTA</th>
									<th>TELEFON</th>
									<th>GİRİŞ TARİHİ</th>
									<th>ÇALIŞMA DURUMU</th>
									<th>GÖRÜNÜRLÜK</th>
									<th style="width:85px;">İŞLEMLER</th>
								</tr>
							</thead>
							<tbody>

								@foreach (var personel in Model.Personeller)
								{
									<tr>
										<td><b>@personel.Id</b></td>
										<td><div class="d-flex align-items-center"><img src="~/img/@personel.Fotograf" class="rounded-lg me-2" width="24" alt=""> <span class="w-space-no">@personel.Ad @personel.Soyad</span></div></td>
										<td>@personel.Rol?.Ad</td>
										<td>@personel.Eposta</td>
										<td>@personel.Telefon</td>
										<td>@personel.BaslamaTarihi</td>
										<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Çalışıyor</td>
										@if(personel.Gorunurluk == true)
										{
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
										}
										else
										{
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
										}
										<td>
											<a data-bs-toggle="modal" data-bs-target="#duzenle_@personel.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											@if(personel.Gorunurluk == true)
											{
												<a asp-action="PersonelSil" asp-route-id="@personel.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
											}
											else
											{
												<a asp-action="PersonelSil" asp-route-id="@personel.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
											}
										</td>
									</tr>
								}


							</tbody>
						</table>

					</div>
				</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="personelModal">
	@if (Model.Roller.Count != 0)
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Personel Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" enctype="multipart/form-data" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label">Personel Adı</label>
							<input type="text" class="form-control" asp-for="Personel.Ad" placeholder="" >
							<span class="text-danger" asp-validation-for="Personel.Ad"></span>
							</div>
						<div class="col-md-6 mb-3">
							<label class="form-label">Personel Soyadı</label>
							<input type="text" class="form-control" asp-for="Personel.Soyad" placeholder="" required>
							<span class="text-danger" asp-validation-for="Personel.Soyad"></span>
							</div>
					</div>
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-4 mb-3">
							<label for="email" class="form-label">E-Posta Adresi</label>
								<input type="text" class="form-control" asp-for="Personel.Eposta" placeholder="E-Posta" required="">
								<span class="text-danger" asp-validation-for="Personel.Eposta"></span>
							</div>
						<div class="col-md-4 mb-3">
							<label class="form-label">Rol </label>
							<select asp-for="Personel.RolId" class="default-select form-control wide w-100 required">
							<option value=0 disabled="disabled" selected>Rol</option>
							@foreach (var item in Model.Roller)
							{
								<option value="@item.Id">@item.Ad</option>
							}
							</select>
							<span class="text-danger" asp-validation-for="Personel.RolId"></span>
						</div>
						<div class="col-md-4 mb-3">
							<label for="email" class="form-label">Maaş</label>
							<input type="number" class="form-control" asp-for="Personel.Maas" required="">
							<span class="text-danger" asp-validation-for="Personel.Maas"></span>
							</div>
					</div>
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label for="formFile" class="form-label">Personel Fotoğrafı</label>
							<input asp-for="Personel.Fotograf" id="formFile" class="form-control" name="file" type="file">
							<span class="text-danger" asp-validation-for="Personel.Fotograf"></span>
							</div>

						<div class="col-md-6 mb-3">
							<label class="form-label">Cinsiyet</label>
							<select asp-for="Personel.Cinsiyet" class="default-select form-control required wide w-100" required>
								<option value="Cinsiyet" disabled selected>Cinsiyet</option>
								<option>Kadın</option>
								<option>Erkek</option>
							</select>
							<span class="text-danger" asp-validation-for="Personel.Cinsiyet"></span>
						</div>
					</div>
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label">Parola</label>
							<div class="input-group transparent-append">
								<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
								<input style="width:fit-content" type="password" class="form-control" asp-for="Personel.Parola" placeholder="" required>
								<span class="input-group-text show-pass border-left-end">
								<i class="fa fa-eye-slash"></i>
								<i class="fa fa-eye"></i>
								</span>
								<span class="text-danger" asp-validation-for="Personel.Parola"></span>
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label class="form-label">Telefon Numarası</label>
							<div class="input-group">
								<span class="input-group-text">+90</span>
								<input style="width:fit-content" type="number" class="form-control border-left-end" asp-for="Personel.Telefon" placeholder="" required>
								<span class="text-danger" asp-validation-for="Personel.Telefon"></span>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-3">
							<div style="margin-bottom:9px" class="mb-3">
								<label for="address" class="form-label">Adres</label>
								<textarea asp-for="Personel.Adres" type="text" class="form-control" placeholder="" required></textarea>
									<span class="text-danger" asp-validation-for="Personel.Adres"></span>
								</div>
						</div>
					</div>
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label">Doğum Tarihi</label>
								<input style="text-align:center" asp-for="Personel.DogumTarihi" id="datepicker" class=" form-control mb-3 mb-xl-0 datepicker" required>
								<span class="text-danger" asp-validation-for="Personel.DogumTarihi"></span>
							</div>
						<div class="col-md-6 mb-3">
							<label class="form-label">Başlama Tarihi</label>
								<input style="text-align:center" asp-for="Personel.BaslamaTarihi" id="datepicker1" class=" form-control mb-3 mb-xl-0 datepicker1" required>
								<span class="text-danger" asp-validation-for="Personel.BaslamaTarihi"></span>
							</div>
					</div>
						<input type="hidden" asp-for="Personel.Gorunurluk" value=true />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
		</div>
	}
	else
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Rol Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="Index" method="post" novalidate>
					<div class="modal-body">
						<div style="margin-bottom:9px" class="row">
							<div class="col-md-6 mb-3">
								<label class="form-label">Rol Adı</label>
								<input asp-for="Rol.Ad" type="text" class="form-control" placeholder="">
								<input asp-for="Rol.Gorunurluk" type="hidden" class="form-control" value=True>
								<span class="text-danger" asp-validation-for="Rol.Ad">  </span>
							</div>
							<div class="col-md-6 mb-3">
								<label class="form-label">Ekstra Bilgi</label>
								<input type="text" class="form-control" placeholder="" value="" @* required="" *@>

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	}
</div>

@* Personel Düzenle *@

@foreach (var personel in Model.Personeller)
{
	<div class="modal modal-lg fade" id="duzenle_@personel.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Personel Düzenle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>
				<form asp-action="Index" enctype="multipart/form-data" method="post" novalidate>
					<div class="modal-body">
						<div style="margin-bottom:9px" class="row">
							<div class="col-md-6 mb-3">
								<label class="form-label">Personel Adı</label>
								<input type="text" class="form-control" asp-for="Personel.Ad" value="@personel.Ad" placeholder="">
								<span class="text-danger" asp-validation-for="Personel.Ad"></span>

							</div>
							<div class="col-md-6 mb-3">
								<label class="form-label">Personel Soyadı</label>
								<input type="text" class="form-control" asp-for="Personel.Soyad" value="@personel.Soyad" placeholder="" required>
								<span class="text-danger" asp-validation-for="Personel.Soyad"></span>

							</div>
						</div>
						<div style="margin-bottom:9px" class="row">
							<div class="col-md-4 mb-3">
								<label for="email" class="form-label">E-Posta Adresi</label>
								<input type="text" class="form-control" asp-for="Personel.Eposta" value="@personel.Eposta" placeholder="E-Posta" required="">
								<span class="text-danger" asp-validation-for="Personel.Eposta"></span>

							</div>
							<div class="col-md-4 mb-3">
								<label class="form-label">Rol </label>
								<select asp-for="Personel.RolId" class="default-select form-control wide w-100 required">
									<option disabled="disabled">Rol</option>
									@foreach (var item in Model.Roller)
									{
										if (item.Id == personel.RolId)
										{
											<option value="@item.Id" selected>@item.Ad</option>
										}
										else
										{
											<option value="@item.Id">@item.Ad</option>
										}
									}
								</select>
								<span class="text-danger" asp-validation-for="Personel.RolId"></span>

							</div>
							<div class="col-md-4 mb-3">
								<label for="email" class="form-label">Maaş</label>
								<input type="number" class="form-control" asp-for="Personel.Maas" value="@personel.Maas" placeholder="Maaş" required="">
								<span class="text-danger" asp-validation-for="Personel.Maas"></span>

							</div>
						</div>
						<div style="margin-bottom:9px" class="row">
							<div class="col-md-6 mb-3">
								<label for="formFile" class="form-label">Personel Fotoğrafı</label>
								<input asp-for="Personel.Fotograf" id="formFile" class="form-control" value="@personel.Fotograf" name="file" type="file">
								<span class="text-danger" asp-validation-for="Personel.Fotograf"></span>
							</div>

							<div class="col-md-6 mb-3">
								<label class="form-label">Cinsiyet</label>
								<select asp-for="Personel.Cinsiyet" class="default-select form-control required wide w-100" required>
									<option value="" selected>Cinsiyet</option>
									@if (personel.Cinsiyet == "Kadın")
									{
										<option selected>Kadın</option>
										<option>Erkek</option>
									}
									else
									{
										<option>Kadın</option>
										<option selected>Erkek</option>
									}
								</select>
								<span class="text-danger" asp-validation-for="Personel.Cinsiyet"></span>

							</div>
						</div>
						<div style="margin-bottom:9px" class="row">
							<div class="col-md-6 mb-3">
								<label class="form-label">Parola</label>
								<div class="input-group transparent-append">
									<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
									<input type="password" class="form-control" asp-for="Personel.Parola" placeholder="" required>
									<span class="input-group-text show-pass border-left-end">
										<i class="fa fa-eye-slash"></i>
										<i class="fa fa-eye"></i>
									</span>
								</div>
								<span class="text-danger" asp-validation-for="Personel.Parola"></span>
							</div>
							<div class="col-md-6 mb-3">
								<label class="form-label">Telefon Numarası</label>
								<div class="input-group">
									<span class="input-group-text">+90</span>
									<input type="number" class="form-control border-left-end" asp-for="Personel.Telefon" value="@personel.Telefon" placeholder="" required>
									<span class="text-danger" asp-validation-for="Personel.Telefon"></span>

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								<div style="margin-bottom:9px" class="mb-3">
									<label for="address" class="form-label">Adres</label>
									<textarea asp-for="Personel.Adres" type="text" class="form-control" required>@personel.Adres</textarea>
									<span class="text-danger" asp-validation-for="Personel.Adres"></span>

								</div>
							</div>
						</div>
						<div style="margin-bottom:9px" class="row">
							<div class="col-md-6 mb-3">
								<label class="form-label">Doğum Tarihi</label>
								<input style="text-align:center" asp-for="Personel.DogumTarihi" value="@personel.DogumTarihi" id="datepicker" class=" form-control mb-3 mb-xl-0 datepicker" required>
								<span class="text-danger" asp-validation-for="Personel.DogumTarihi"></span>
							</div>
							<div class="col-md-6 mb-3">
								<label class="form-label">Başlama Tarihi</label>
								<input style="text-align:center" asp-for="Personel.BaslamaTarihi" value="@personel.BaslamaTarihi" id="datepicker1" class=" form-control mb-3 mb-xl-0 datepicker1" required>
								<span class="text-danger" asp-validation-for="Personel.BaslamaTarihi"></span>
							</div>
						</div>
						<input type="hidden" asp-for="Personel.Gorunurluk" value=true />
						<input type="hidden" asp-for="Personel.Id" value=@personel.Id />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>
			</div>
		</div>
	</div>
}



<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>

		$(function () {
			$(".datepicker").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());
		});

		$(function () {
			$(".datepicker1").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());
		});

		document.querySelector("#formFile").onchange = function () {
			const fileName = this.files[0]?.name;
			const label = document.querySelector("label[for=formFile]");
			label.innerText = fileName ?? "Fotoğraf Yükle";
		};

		(function ($) {

			var table = $('#dataTable').DataTable({
				searching: false,
				paging: true,
				select: false,
				//info: false,
				lengthChange: false

			});
			$('#example tbody').on('click', 'tr', function () {
				var data = table.row(this).data();

			});

		})(jQuery);

	</script>
}
