
@{
    ViewData["Title"] = "Kategori";
}
@model Kategori

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Kategori</h2>
				<p class="mb-0">Cafe App Kategori Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<a data-bs-toggle="modal" data-bs-target="#kategoriModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
				<span class="btn-icon-start text-primary">
					<i class="fa fa-user-plus color-primary"></i>
				</span>Kategori Ekle
			</a>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Kategori Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
			<div class="cm-content-body form excerpt">
				<div class="card-body">
					<div class="table-responsive">

						<table class="table table-responsive-sm mb-0">
							<thead>
								<tr>
									<th><strong>Id</strong></th>
									<th><strong>Ad</strong></th>
									<th><strong>GÖRÜNÜRLÜK</strong></th>
									<th style="width:85px;"><strong>İşlemler</strong></th>
								</tr>
							</thead>
							<tbody>

								@foreach (var kategori in ViewBag.Kategoriler)
								{
									<tr>
										<th>@kategori.Id</th>
										<td><div class="d-flex align-items-center"><span class="w-space-no">@kategori.Ad</span></div></td>
										@if (kategori.Gorunurluk == true)
										{
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
										}
										else
										{
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
										}
										<td>
											<a asp-action="KategoriGuncelle" asp-route-id="@kategori.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											@if (kategori.Gorunurluk == true)
											{
												<a asp-action="KategoriSil" asp-route-id="@kategori.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
											}
											else
											{
												<a asp-action="KategoriSil" asp-route-id="@kategori.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
											}
										</td>
									</tr>
								}

							</tbody>
						</table>

					</div>
					<div class="d-flex align-items-center justify-content-xl-between flex-wrap justify-content-center mt-3">
						<small>3 sayfa içerisinden 1 numaralı sayfa gösteriliyor</small>
						<nav aria-label="Page navigation example">
							<ul class="pagination mb-2 mb-sm-0">
								<li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
								<li class="page-item"><a class="page-link " href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			@foreach (var urunGrup in ViewBag.urunGruplari)
			{
				<div class="col-xl-6 col-sm-6">
				<div class="filter cm-content-box box-primary">
				<div class="content-title">
					<div class="cpa">
						<i class="fa-solid fa-file-lines me-1"></i> @urunGrup.KategoriAdi Kategori Listesi
					</div>
					<div class="tools">
						<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
					</div>
				</div>
				<div class="cm-content-body form excerpt">
					<div class="card-body">
						<div class="table-responsive">

							<table class="table table-responsive-sm mb-0">
								<thead>
									<tr>
										<th><strong>Id</strong></th>
										<th><strong>Ad</strong></th>
										<th><strong>Fiyat</strong></th>
										<th><strong>Görünürlük</strong></th>
										<th style="width:85px;"><strong>İşlemler</strong></th>
									</tr>
								</thead>
								<tbody>

									@foreach (var urun in urunGrup.UrunListesi)
									{
										<tr>
											<td><b>@urun.Id</b></td>
											<td>@urun.Ad</td>
											<td>@urun.Fiyat</td>
											@if (urun.Gorunurluk == true)
											{
												<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
											}
											else
											{
												<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
											}
											<td>
												<a asp-controller="Urun" asp-action="UrunGuncelle" asp-route-id="@urun.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
												@if (urun.Gorunurluk == true)
												{
													<a asp-action="UrunSil" asp-route-id="@urun.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
												}
												else
												{
													<a asp-action="UrunSil" asp-route-id="@urun.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
												}
											</td>
										</tr>
									}

								</tbody>
							</table>

						</div>
						<div class="d-flex align-items-center justify-content-xl-between flex-wrap justify-content-center mt-3">
							<small>3 sayfa içerisinden 1 numaralı sayfa gösteriliyor</small>
							<nav aria-label="Page navigation example">
								<ul class="pagination mb-2 mb-sm-0">
									<li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa-solid fa-angle-left"></i></a></li>
									<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
									<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
									<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
									<li class="page-item"><a class="page-link " href="javascript:void(0);"><i class="fa-solid fa-angle-right"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			</div>
			}
		</div>

	</div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="kategoriModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Kategori Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" class="needs-validation " method="post">
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="Ad" asp-for="Ad" type="text" class="form-control" placeholder="">
							<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Kategori Adı</label>
							<div class="valid-feedback">Valid.</div>
							<div class="invalid-feedback">Please fill out this field.</div>
						</div>
					</div>
					<input asp-for="Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
</div>


<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

	</script>
}
