
@{
    ViewData["Title"] = "Kategori";
}
@model Kategori

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Kategori</h2>
				<p class="mb-0">Cafe App Kategori Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<a data-bs-toggle="modal" data-bs-target="#kategoriModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
				<span class="btn-icon-start text-primary">
					<i class="fa-duotone fa-list"></i>
				</span>Kategori Ekle
			</a>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Kategori Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
				<div class="card-body">
					<div class="table-responsive">

						<table id="example" class="display">
							<thead>
								<tr>
									<th>ID</th>
									<th>AD</th>
									<th>KATEGORİ</th>
									<th>GÖRÜNÜRLÜK</th>
									<th style="width:85px;">İŞLEMLER</th>
								</tr>
							</thead>
							<tbody>

								@foreach (var kategori in ViewBag.Kategoriler)
								{
									<tr>
										<td><b>@kategori.Id</b></td>
										<td><div class="d-flex align-items-center"><span class="w-space-no">@kategori.Ad</span></div></td>
										<td>@kategori.Tur</td>
										@if (kategori.Gorunurluk == true)
										{
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
										}
										else
										{
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
										}
										<td>
											<a data-bs-toggle="modal" data-bs-target="#kategoriGuncelle_@kategori.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											@if (kategori.Gorunurluk == true)
											{
												<a asp-action="KategoriSil" asp-route-id="@kategori.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
											}
											else
											{
												<a asp-action="KategoriSil" asp-route-id="@kategori.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
											}
										</td>
									</tr>

								}

							</tbody>
						</table>

					</div>
				</div>
		</div>


		<div class="row">
			@foreach (var urunGrup in ViewBag.urunGruplari)
			{
				<div class="col-xl-6 col-sm-6">
				<div class="filter cm-content-box box-primary">
				<div class="content-title">
					<div class="cpa">
						<i class="fa-solid fa-file-lines me-1"></i> @urunGrup.KategoriAdi Kategori Listesi
					</div>
					<div class="tools">
						<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
					</div>
				</div>
				<div class="cm-content-body form excerpt">
					<div class="card-body">
						<div class="table-responsive">

							<table class="table table-responsive-sm mb-0">
								<thead>
									<tr>
										<th><strong>Id</strong></th>
										<th><strong>Ad</strong></th>
										<th><strong>FİYAT</strong></th>
										<th><strong>Görünürlük</strong></th>
										<th style="width:85px;"><strong>İşlemler</strong></th>
									</tr>
								</thead>
								<tbody>

									@foreach (var urun in urunGrup.UrunListesi)
									{
										<tr>
											<td><b>@urun.Id</b></td>
											<td>@urun.Ad</td>
											<td>₺@urun.Fiyat</td>
											@if (urun.Gorunurluk == true)
											{
												<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
											}
											else
											{
												<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
											}
											<td style="text-align:center">
												@if (urun.Gorunurluk == true)
												{
													<a asp-action="UrunSil" asp-route-id="@urun.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
												}
												else
												{
													<a asp-action="UrunSil" asp-route-id="@urun.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
												}
											</td>
										</tr>
									}

								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
			</div>
			}
		</div>

	</div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="kategoriModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Kategori Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="Ad" asp-for="Ad" type="text" class="form-control" placeholder="">
							<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Kategori Adı</label>
							<span class="validation-text" asp-validation-for="Ad"></span>

						</div>
						<div class="col-md-6">
							<select asp-for="Tur" class="default-select form-control wide w-100 required">
								<option disabled="disabled" selected>Kategori</option>
								<option value="Masa">Masa</option>
								<option value="Menü">Menü</option>
								<option value="Ürün">Ürün</option>
							</select>
							<span class="validation-text" asp-validation-for="Tur"></span>

						</div>
					</div>
					<input asp-for="Gorunurluk" type="hidden" value=True required="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
</div>

@* Kategori Düzenle *@
@foreach (var kategori in ViewBag.Kategoriler)
{
	<div class="modal modal-lg fade" id="kategoriGuncelle_@kategori.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Kategori Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="Index" method="post" novalidate>
					<div class="modal-body">
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="Ad" asp-for="Ad" type="text" value="@kategori.Ad" class="form-control" placeholder="">
								<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Kategori Adı</label>
								<span class="validation-text" asp-validation-for="Ad"></span>

							</div>
							<div class="col-md-6">
								<select asp-for="Tur" class="default-select form-control wide w-100 required">
									<option disabled>Kategori</option>
									@if (kategori.Tur == "Masa")
									{
										<option value="Masa" selected>Masa</option>
										<option value="Menü">Menü</option>
										<option value="Ürün">Ürün</option>
									}
									else if (kategori.Tur == "Menü")
									{
										<option value="Masa">Masa</option>
										<option value="Menü" selected>Menü</option>
										<option value="Ürün">Ürün</option>
									}
									else
									{
										<option value="Masa">Masa</option>
										<option value="Menü">Menü</option>
										<option value="Ürün" selected>Ürün</option>
									}

								</select>
								<span class="validation-text" asp-validation-for="Tur"></span>

							</div>
						</div>
						<input asp-for="Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
						<input asp-for="Id" type="hidden" class="form-control" placeholder="" value=@kategori.Id required="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	</div>
}

<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

	</script>
}
