
@{
    ViewData["Title"] = "Index";
}

@model MasaViewModel

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Masa</h2>
				<p class="mb-0">Cafe App Masa Masa Ekranına Hoşgeldiniz!</p>
			</div>

			<div style="text-align:center" class="d-none d-lg-block">
				<a data-bs-toggle="modal" data-bs-target="#masaModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
					<span class="btn-icon-start text-primary">
						<i class="fa fa-user-plus color-primary"></i>
					</span>Masa Ekle
				</a>
				@if (Model.Kategoriler.Count == 0)
				{
					<p style="color: red; font-size: 12px; text-align: center; padding-top:3px"><i class="fa-sharp fa-solid fa-up"></i> İlk önce kategori eklemelisiniz! <i class="fa-sharp fa-solid fa-up"></i></p>
				}
				else
				{
					<br>
				}
			</div>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Masa Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
			<div class="cm-content-body form excerpt">
				<div class="card-body">
					
					<div class="row">
						@foreach (var masa in Model.Masalar)
						{
							<div class="col-xl-4 col-lg-12 col-sm-12">
							<div class="card overflow-hidden">
								<div class="text-center p-3 overlay-box " style="background-image: url(https://cdnimg.webstaurantstore.com/uploads/seo_category/2019/5/table-dining-sets.jpg);">
									<div class="profile-photo">
										<img style="cursor: pointer;" src="@masa.QR" width="100" class="img-fluid rounded-circle" alt="qr_image"
												data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImageModal('@masa.QR')">
									</div>
									<h3 class="mt-3 mb-1 text-white">@masa.Kod</h3>
									<p class="text-white mb-0">@masa.Kategori.Ad</p>
									

								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Kapasite</span> <strong class="text-muted">@masa.Kapasite	</strong></li>
									<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Toplam Tutar</span> <strong class="text-muted">@masa.Tutar	</strong></li>
									<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Ödenen Tutar</span> <strong class="text-muted">@masa.OdenenTutar </strong></li>
									@switch (masa.Durum)
									{
										case 1 :
											<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Müsaitlik Durumu</span> <strong class="text-success">Boş Masa </strong></li>
											<li style="padding:20px">
												<button data-bs-toggle="modal" data-bs-target="#detay_@masa.Id" data-masaId="@masa.Id" class="btn btn-success btn-lg btn-block">
													<i class="fa fa-bell-o"></i> Masa Bilgilerini Düzenle
												</button>
											</li>
											break;
										case 2:
											<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Müsaitlik Durumu</span> <strong class="text-danger">Dolu Masa </strong></li>
											break;
										case 3:
											<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Müsaitlik Durumu</span> <strong class="text-warning">Kirli Masa </strong></li>
											break;
										case 4:
											<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Müsaitlik Durumu</span> <strong class="text-warning">Rezerve Masa </strong></li>
											break;
										case 5:
											<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Müsaitlik Durumu</span> <strong class="text-warning">Kapalı Masa </strong></li>
											break;
									}
								</ul>
								@* <div class="card-footer border-0 mt-0">
									
								</div> *@
							</div>
						</div>
						}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->

@* Masa Ekleme *@
<div class="modal modal-lg fade" id="masaModal">
	@if (Model.Kategoriler.Count != 0)
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Masa Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

					<form asp-action="Index" method="post" novalidate>
					<div class="modal-body">
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="kod" asp-for="Masa.Kod" type="text" class="form-control" placeholder="">
								<label for="kod" class="form-label">&nbsp;&nbsp;&nbsp;Masa Kod</label>
								<span class="text-danger" asp-validation-for="Masa.Kod"></span>

							</div>
							<div class="form-floating col-md-6 mb-3">
								<input id="Kapasite" asp-for="Masa.Kapasite" type="number" class="form-control" placeholder="" required="">
								<label for="Kapasite" class="form-label">&nbsp;&nbsp;&nbsp;Masa Kapasite</label>
								<span class="text-danger" asp-validation-for="Masa.Kapasite"></span>

							</div>
						</div>
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
									<select id="KategoriId" asp-for="Masa.KategoriId" class="default-select form-control wide w-100 required">
									<option value=0 disabled selected>Masa Kategori</option>
									@foreach (var item in Model.Kategoriler)
									{
										<option value="@item.Id">@item.Ad</option>
									}
								</select>
								<span class="text-danger" asp-validation-for="Masa.KategoriId"></span>
							</div>
						</div>
							<input asp-for="Masa.Gorunurluk" type="hidden" class="form-control" value=True required="">
							<input asp-for="Masa.Durum" type="hidden" class="form-control" value=1 required="">
							<input asp-for="Masa.Tutar" type="hidden" class="form-control" value=0 required="">
							<input asp-for="Masa.OdenenTutar" type="hidden" class="form-control" value=0 required="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>
			</div>
		</div>
	}
	else
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Kategori Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="Index" method="post" novalidate>
					<div class="modal-body">
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="Ad" asp-for="Kategori.Ad" type="text" class="form-control" placeholder="">
								<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Kategori Adı</label>
								<span class="text-danger" asp-validation-for="Kategori.Ad"></span>

							</div>
							<div class="col-md-6">
								<select asp-for="Kategori.Tur" class="default-select form-control wide w-100 required">
									<option disabled>Kategori</option>
									<option value="Masa" selected>Masa</option>
									<option value="Menü">Menü</option>
									<option value="Ürün">Ürün</option>
								</select>
								<span class="text-danger" asp-validation-for="Kategori.Tur"></span>

							</div>
						</div>
						<input asp-for="Kategori.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	}
</div>


@* Masa Düzenleme ve Bilgileri *@
@foreach (var masa in Model.Masalar)
{
	@switch (masa.Durum)
	{
		case 1:
			@* Masa Düzenle Modal *@
			<div class="modal modal-lg fade" id="detay_@masa.Id" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="imageModalLabel">Masa Bilgilerini Düzenle</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form asp-action="MasaGuncelle" method="post" novalidate>
							<div class="modal-body">
								<div style="margin-bottom:14px" class="row">
									<div class="form-floating col-md-6 mb-3">
										<input id="kod" asp-for="Masa.Kod" value="@masa.Kod" type="text" class="form-control" placeholder="">
										<label for="kod" class="form-label">&nbsp;&nbsp;&nbsp;Masa Kod</label>
										<span class="text-danger" asp-validation-for="Masa.Kod"></span>

									</div>
									<div class="form-floating col-md-6 mb-3">
										<input id="Kapasite" asp-for="Masa.Kapasite" value="@masa.Kapasite" type="text" class="form-control" placeholder="" required="">
										<label for="Kapasite" class="form-label">&nbsp;&nbsp;&nbsp;Masa Kapasite</label>
										<span class="text-danger" asp-validation-for="Masa.Kapasite"></span>

									</div>
								</div>
								<div style="margin-bottom:14px" class="row">
									<div class="form-floating col-md-6 mb-3">
										<select id="KategoriId" asp-for="Masa.KategoriId" class="default-select form-control wide w-100 required">
											<option disabled>Masa Kategori</option>
											@foreach (var item in Model.Kategoriler)
											{
												if (item.Id == @masa.KategoriId)
												{
													<option value="@item.Id" selected>@item.Ad</option>
												}
												else
												{
													<option value="@item.Id">@item.Ad</option>
												}
											}
										</select>
										<span class="text-danger" asp-validation-for="Masa.KategoriId"></span>
									</div>
								</div>
								<input asp-for="Masa.Gorunurluk" type="hidden" class="form-control" value=True required="">
								<input asp-for="Masa.Durum" type="hidden" class="form-control" value=1 required="">
								<input asp-for="Masa.Tutar" type="hidden" class="form-control" value=0 required="">
								<input asp-for="Masa.OdenenTutar" type="hidden" class="form-control" value=0 required="">
								<input asp-for="Masa.Id" type="hidden" value="@masa.Id" class="form-control" required="">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
								<button type="submit" class="btn btn-primary">Kaydet</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			break;
		case 2:
			<button data-bs-toggle="modal" data-bs-target="#detay_@masa.Durum" class="btn btn-danger btn-lg btn-block">
				<i class="fa fa-bell-o"></i> Sipariş Görüntüle
			</button>

			@* Masa Sipariş Görüntüle Modal *@
			<div class="modal modal-lg fade" id="detay_@masa.Durum" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="imageModalLabel">Masaya Ait Siparişler</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">

							<div class="row">
								<div class="col-xl-6 col-sm-6 mb-3 mb-xl-0">

									<div class="card">
										<div class="card-header">
											<h4 class="card-title">@masa.Kod</h4>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-lg-12 order-lg-12 mb-4">
													<ul class="list-group list-group-flush mb-3">

														<li class="list-group-item d-flex justify-content-between lh-condensed">
															<div>
																<h6 class="my-1">
																	<span class="icon-warning">
																		<i class="fa-solid fa-text"></i>
																	</span>
																	Masa Kod
																</h6>
															</div>
															<span class="text-muted">@masa.Kod</span>
														</li>
														<li class="list-group-item d-flex justify-content-between lh-condensed">
															<div>
																<h6 class="my-1">
																	<span class="icon-warning">
																		<i class="fa-solid fa-quote-right"></i>
																	</span>
																	Masa Durum
																</h6>
															</div>
															<span class="text-muted">@masa.Durum</span>
														</li>
														<li class="list-group-item d-flex justify-content-between lh-condensed">
															<div>
																<h6 class="my-1">
																	<span class="icon-warning">
																		<i class="fa-solid fa-square-info"></i>
																	</span>
																	Masa Kapasite
																</h6>
															</div>
															<span class="text-muted">@masa.Kapasite</span>
														</li>
														<li class="list-group-item d-flex justify-content-between lh-condensed">
															<div>
																<h6 class="my-1">
																	<span class="icon-warning">
																		<i class="fa-regular fa-list"></i>
																	</span>
																	Masa Tutar
																</h6>
															</div>
															<span class="text-muted">₺@masa.Tutar</span>
														</li>
														<li class="list-group-item d-flex justify-content-between lh-condensed">
															<div>
																<h6 class="my-1">
																	<span class="icon-warning">
																		<i class="fa-regular fa-money-bill"></i>
																	</span>
																	Masa Ödenen Tutar
																</h6>
															</div>
															<span class="text-muted">₺@masa.OdenenTutar</span>
														</li>
														<li class="list-group-item d-flex justify-content-between lh-condensed">
															<div>
																<h6 class="my-1">
																	<span class="icon-warning">
																		<i class="fa-regular fa-wave-pulse"></i>
																	</span>
																	Masa Kategori
																</h6>
															</div>
															<span class="text-muted">@masa.Kategori.Ad</span>
														</li>
														<li class="list-group-item d-flex justify-content-between lh-condensed">
															<div>
																<h6 class="my-1">
																	<span class="icon-warning">
																		<i class="fa-solid fa-eye-slash"></i>
																	</span>
																	Ürün Görünürlük
																</h6>
															</div>
															@if (masa.Gorunurluk == true)
															{
																<span class="text-success" style="font-weight:bold">Görünür</span>
															}
															else
															{
																<span class="text-danger" style="font-weight:bold">Görünmez</span>
															}
														</li>

													</ul>
												</div>

											</div>
										</div>
									</div>

								</div>

								<div class="col-xl-6 col-sm-6 mb-3 mb-xl-0">

									<div class="card">
										<div class="card-header">
											@* @foreach (var malzemeBilgi in ViewBag.UrunMalzeme)
								{
								if (malzemeBilgi.UrunId == urun.Id)
								{
								malzemeSayı += 1;
								}
								}
								<h4 class="card-title">Malzemeler (@malzemeSayı)</h4>
								@{
								malzemeSayı = 0;
								} *@
										</div>
										<div class="card-body">

											<div class="row">
												<div class="col-lg-12 order-lg-12 mb-4">
													<ul class="list-group list-group-flush mb-3">
														@foreach (var MasaSiparis in masa.MasaSipariss)
														{
															<div class="col-xl-12 col-xxl-12 col-sm-6">
																<div class="card">
																	<div class="social-graph-wrapper widget-facebook">
																		<span class="s-icon"><i style="--fa-beat-fade-opacity: 1; --fa-beat-fade-scale: 1.1;" class="fa-solid fa-cart-arrow-down fa-beat-fade"></i></span>
																	</div>
																	@{
																		var menu = MasaSiparis.Siparis.SiparisMenuler;
																		var urun = MasaSiparis.Siparis.SiparisUrunler;
																		if (menu.Count != 0)
																		{
																			foreach (var menuItem in menu)
																			{
																		<li class="list-group-item d-flex justify-content-between lh-condensed">
																			<div>
																				<h6 class="my-1">
																					<span class="icon-warning">
																						<i class="fa-regular fa-wave-pulse"></i>
																					</span>
																					Menü Ad
																				</h6>
																			</div>
																			<span class="text-muted">@menuItem.Menu.Ad</span>
																		</li>
																		<li class="list-group-item d-flex justify-content-between lh-condensed">
																			<div>
																				<h6 class="my-1">
																					<span class="icon-warning">
																						<i class="fa-regular fa-wave-pulse"></i>
																					</span>
																					Menü Fiyat
																				</h6>
																			</div>
																			<span class="text-muted">@menuItem.Menu.Fiyat</span>
																		</li>
																		<li class="list-group-item d-flex justify-content-between lh-condensed">
																			<div>
																				<h6 class="my-1">
																					<span class="icon-warning">
																						<i class="fa-regular fa-wave-pulse"></i>
																					</span>
																					Menü İndirimli Fiyat
																				</h6>
																			</div>
																			<span class="text-muted">@menuItem.Menu.IndirimliFiyat</span>
																		</li>
																			}
																		}
																		else
																		{
																			foreach (var urunItem in urun)
																			{
																		<li class="list-group-item d-flex justify-content-between lh-condensed">
																			<div>
																				<h6 class="my-1">
																					<span class="icon-warning">
																						<i class="fa-regular fa-wave-pulse"></i>
																					</span>
																							@urunItem.Urun.Ad
																				</h6>
																			</div>
																			<span class="text-muted">₺@(urunItem.Urun.Fiyat - urunItem.Urun.IndirimliFiyat)</span>
																		</li>
																			}
																		}

																	}
															<div class="row">

																<div class="col-6 border-end">
																	<div class="pt-3 pb-3 pl-0 pr-0 text-center">
																		<h4 class="m-1">₺<span class="counter">&nbsp;@MasaSiparis.Siparis.Tutar</span></h4>
																		<p class="m-0">Tutar</p>
																	</div>
																</div>
																<div class="col-6">
																	<div class="pt-3 pb-3 pl-0 pr-0 text-center">
																				@if (MasaSiparis.Siparis.OdemeDurum == true)
																				{
																			<h4 class="text-success" style="font-weight:bold">Ödendi&nbsp;</h4>
																				}
																				else
																				{
																			<h4 class="text-danger" style="font-weight:bold">Ödenmedi&nbsp;</h4>
																				}
																		<p class="m-0">Followers</p>
																	</div>
																</div>
															</div>
													</div>
												</div>

														}
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
																</div>
															</div>

			break;
		case 3:
			<button data-bs-toggle="modal" data-bs-target="#detay_@masa.Durum" class="btn btn-warning btn-lg btn-block">
				<i class="fa fa-bell-o"></i> Bildirim Gönder
			</button>

			@* Masa Bilgi Modal *@
			<div class="modal fade" id="detay_@masa.Durum" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="imageModalLabel">QR Resim</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<img id="modalImage" src="" class="img-fluid" alt="Büyütülmüş Resim">
						</div>
					</div>
				</div>
			</div>

			break;
		case 4:
			<button data-bs-toggle="modal" data-bs-target="#detay_@masa.Durum" class="btn btn-warning btn-lg btn-block">
				<i class="fa fa-bell-o"></i> Rezervazsyon Görüntüle
			</button>

			@* Masa Bilgi Modal *@
			<div class="modal fade" id="detay_@masa.Durum" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="imageModalLabel">QR Resim</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<img id="modalImage" src="" class="img-fluid" alt="Büyütülmüş Resim">
						</div>
					</div>
				</div>
			</div>

			break;
		case 5:
			<button data-bs-toggle="modal" data-bs-target="#detay_@masa.Durum" class="btn btn-warning btn-lg btn-block">
				<i class="fa fa-bell-o"></i> Masayı Aç
			</button>

			@* Masa Bilgi Modal *@
			<div class="modal fade" id="detay_@masa.Durum" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="imageModalLabel">QR Resim</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<img id="modalImage" src="" class="img-fluid" alt="Büyütülmüş Resim">
						</div>
					</div>
				</div>
			</div>

		break;
	}
}

@* Resim Büyütme *@
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="imageModalLabel">QR Resim</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<img id="modalImage" src="" class="img-fluid" alt="Büyütülmüş Resim">
			</div>
		</div>
	</div>
</div>

<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		// QR Resmi için modala taşıma
		function showImageModal(imageSrc) {
			var modalImage = document.getElementById('modalImage');
			modalImage.src = imageSrc;
		}

		// Masa bilgileri için controllera yönlendirme yapan Ajax
		$(document).ready(function () {
			// Sayfa yüklendiğinde tüm buton'ları seç
			$('button[data-bs-toggle="modal"]').click(function () {
				// Tıklanan button
				var button = $(this);

				// Butonun masaId değerini al
				var masaId = button.data('masaid');

				// AJAX isteği gönder
				$.ajax({
					url: '/Admin/MasaBilgiler', // Controller ve action URL'si
					method: 'GET',
					data: { masaId: masaId }, // masaId'yi istek olarak gönder
					success: function (response) {
						// Yanıtı modal'ın içeriğine koy
						var modalTarget = button.data('bs-target');
						$(modalTarget).find('.modal-body').html(response);
					},
					error: function (xhr, status, error) {
						console.error('Hata:', error);
					}
				});
			});
		});


	</script>
}

