
@{
    ViewData["Title"] = "Index";
}
@model MusteriViewModel

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Müşteri</h2>
				<p class="mb-0">Cafe App Müşteri Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<a data-bs-toggle="modal" data-bs-target="#musteriModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
				<span class="btn-icon-start text-primary">
					<i class="fa fa-users"></i>
				</span>Müşteri Ekle
			</a>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Müşteri Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">

					<table id="example" class="table table-responsive-sm mb-0">
						<thead>
							<tr>
								<th>ID</th>
								<th>AD-SOYAD</th>
								<th>E-POSTA</th>
								<th>TELEFON</th>
								<th>KAYIT TARİHİ</th>
								<th>DOĞUM TARİHİ</th>
								<th>GÖRÜNÜRLÜK</th>
								<th style="width:85px;">İŞLEMLER</th>
							</tr>
						</thead>
						<tbody>

						@foreach (var musteri in Model.Musteriler)
						{
							<tr>
								<td><b>@musteri.Id</b></td>
								<td>@musteri.Ad @musteri.Soyad</td>
								<td>@musteri.Eposta</td>
								<td>@musteri.Telefon</td>
								<td>@musteri.KayitTarihi</td>
								<td>@musteri.Dogumtarihi</td>
								@if (musteri.Gorunurluk == true)
								{
									<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
								}
								else
								{
									<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
								}
								<td>
									<a data-bs-toggle="modal" data-bs-target="#duzenle_@musteri.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
									@if (musteri.Gorunurluk == true)
									{
										<a asp-action="MusteriSil" asp-route-id="@musteri.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
									}
									else
									{
										<a asp-action="MusteriSil" asp-route-id="@musteri.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
									}
								</td>
							</tr>
						}

						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="musteriModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Müşteri Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="ad" asp-for="Musteri.Ad" type="text" class="form-control" placeholder="">
							<label for="ad" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Ad</label>
							<span class="validation-text" asp-validation-for="Musteri.Ad">  </span>

						</div>
						<div class="form-floating col-md-6 mb-3">
							<input id="soyad" asp-for="Musteri.Soyad" type="text" class="form-control" placeholder="">
							<label for="soyad" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Soyad</label>
							<span class="validation-text" asp-validation-for="Musteri.Soyad">  </span>

						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="eposta" asp-for="Musteri.Eposta" type="text" class="form-control" placeholder="">
							<label for="eposta" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri E-Posta</label>
							<span class="validation-text" asp-validation-for="Musteri.Eposta">  </span>
						</div>

						<div class="form-floating col-md-6 mb-3">
							<input id="tel" asp-for="Musteri.Telefon" type="text" placeholder="(500)-000-00-00" class="form-control phone-mask">
							<label for="tel" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Telefon</label>
							<span class="validation-text" asp-validation-for="Musteri.Telefon">  </span>

						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input asp-for="Musteri.Dogumtarihi" class=" form-control mb-3 mb-xl-0 datepicker">
							<label for="datepicker2" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Doğum Tarihi</label>
							<span class="validation-text" asp-validation-for="Musteri.Dogumtarihi">  </span>
						</div>

						<div class="form-floating col-md-6 mb-3">
							<input asp-for="Musteri.Parola" id="Parola" type="password" class=" form-control mb-3 mb-xl-0">
							<label for="Parola" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Parola</label>
							<span class="validation-text" asp-validation-for="Musteri.Parola">  </span>
						</div>
					</div>
					<input asp-for="Musteri.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True>
					<input asp-for="Musteri.KayitTarihi" type="hidden" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
</div>

@* Müşteri Düzenle *@
@foreach (var musteri in Model.Musteriler)
{	
	<div class="modal modal-lg fade" id="duzenle_@musteri.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Müşteri Düzenle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="Index" method="post" novalidate>
					<div class="modal-body">
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="ad" asp-for="Musteri.Ad" type="text" value="@musteri.Ad" class="form-control" placeholder="">
								<label for="ad" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Ad</label>
								<span class="validation-text" asp-validation-for="Musteri.Ad">  </span>

							</div>
							<div class="form-floating col-md-6 mb-3">
								<input id="soyad" asp-for="Musteri.Soyad" type="text" value="@musteri.Soyad" class="form-control" placeholder="">
								<label for="soyad" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Soyad</label>
								<span class="validation-text" asp-validation-for="Musteri.Soyad">  </span>

							</div>
						</div>
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="Eposta" asp-for="Musteri.Eposta" type="text" value="@musteri.Eposta" class="form-control" placeholder="">
								<label for="Eposta" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri E-Posta</label>
								<span class="validation-text" asp-validation-for="Musteri.Eposta">  </span>

							</div>
							<div class="form-floating col-md-6 mb-3">
								<input id="tel" asp-for="Musteri.Telefon" type="text" value="@musteri.Telefon" class="form-control phone-mask" placeholder="(500)-000-00-00">
								<label for="tel" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Telefon</label>
								<span class="validation-text" asp-validation-for="Musteri.Telefon">  </span>

							</div>
						</div>
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input asp-for="Musteri.Dogumtarihi" value="@musteri.Dogumtarihi" class=" form-control mb-3 mb-xl-0 datepicker2">
								<label for="datepicker2" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Doğum Tarihi</label>
								<span class="validation-text" asp-validation-for="Musteri.Dogumtarihi">  </span>

							</div>
							<div class="form-floating col-md-6 mb-3">
								<input asp-for="Musteri.Parola" id="Parola" type="password" class=" form-control mb-3 mb-xl-0">
								<label for="Parola" class="form-label">&nbsp;&nbsp;&nbsp;Müşteri Parola</label>
								<span class="validation-text" asp-validation-for="Musteri.Parola">  </span>

							</div>
						</div>
						<input asp-for="Musteri.KayitTarihi" type="hidden" class="form-control" value=@musteri.KayitTarihi>
						<input asp-for="Musteri.Gorunurluk" type="hidden" class="form-control" value=True>
						<input asp-for="Musteri.Id" type="hidden" class="form-control" value=@musteri.Id>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	</div>
}


<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>
		$(function () {
			$(".datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());
		});


		$('.datepicker2').datepicker({
			autoclose: true,
			todayHighlight: true,
			format: 'dd/mm/yyyy',
		});
		$('.datepicker2').on('changeDate', function () {
			$('.datepicker2').datepicker('getFormattedDate')
		});

	</script>

}

