
@{
    ViewData["Title"] = "Rol";
}
@model RolViewModel

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Rol</h2>
				<p class="mb-0">Cafe App Personel Rol Ekranına Hoşgeldiniz!</p>
			</div>

			<a data-bs-toggle="modal" data-bs-target="#rolModal" style="width:max-content; display: inline-block; vertical-align: middle; margin-left:px" type="button" class="btn btn-rounded btn-primary">
				<span class="btn-icon-start text-primary">
					<i class="fa fa-user-plus color-primary"></i>
				</span>Rol Ekle
			</a>
			
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Kategori Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
				<div class="card-body">
					<div class="table-responsive">

						<table id="example" class="display">
							<thead>
								<tr>
									<th>ID</th>
									<th>AD</th>
									<th>GÖRÜNÜRLÜK</th>
									<th style="width:85px;">İŞLEMLER</th>
								</tr>
							</thead>
							<tbody>

								@foreach (var rol in Model.Roller)
								{
									<tr>
										<td><strong>@rol.Id</strong></td>
										<td><div class="d-flex align-items-center"><span class="w-space-no">@rol.Ad</span></div></td>
										@if (rol.Gorunurluk == true)
										{
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
										}
										else
										{
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
										}
										<td>
											<a data-bs-toggle="modal" data-bs-target="#rolGuncelle_@rol.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											@if (rol.Gorunurluk == true)
											{
												<a asp-action="RolSil" asp-route-id="@rol.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
											}
											else
											{
												<a asp-action="RolSil" asp-route-id="@rol.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
											}
										</td>
									</tr>

									// Rol düzenle
									<div class="modal fade" id="rolGuncelle_@rol.Id">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Rol Düzenle</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal">
													</button>
												</div>

												<form asp-action="Index" method="post" novalidate>
													<div class="modal-body">
														<div style="margin-bottom:9px" class="row">
															<div class="col-md-6 mb-3">
																<label class="form-label">Rol Adı</label>
																<input asp-for="Rol.Ad" type="text" value="@rol.Ad" class="form-control" placeholder="">
																<span class="text-danger" asp-validation-for="Rol.Ad"></span>

																<input asp-for="Rol.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True>
																<input asp-for="Rol.Id" type="hidden" class="form-control" placeholder="" value=@rol.Id>

																<div class="invalid-feedback">
																	Zorunlu Alan
																</div>

															</div>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
														<button type="submit" class="btn btn-primary">Kaydet</button>
													</div>
												</form>

											</div>
										</div>
									</div>


								}

							</tbody>
						</table>

					</div>
				</div>
		</div>


        <div class="row">
            @foreach (var rolGrup in Model.Personeller)
            {
                <div class="col-xl-6 col-sm-6">
                    <div class="filter cm-content-box box-primary">
                        <div class="content-title">
                            <div class="cpa">
                                <i class="fa-solid fa-file-lines me-1"></i>@rolGrup.RolAdi Personel Listesi
                            </div>
                            <div class="tools">
                                <a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="cm-content-body form excerpt">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-sm mb-0">
                                        <thead>
                                            <tr>
                                                <th><strong>Id</strong></th>
                                                <th><strong>Ad Soyad</strong></th>
                                                <th><strong>Görünürlük</strong></th>
                                                <th style="width:85px;"><strong>İşlemler</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var personel in rolGrup.PersonelListesi)
                                            {
                                                <tr>
                                                    <td><b>@personel.Id</b></td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <img src="@personel.Fotograf" class="rounded-lg me-2" width="24" alt="">
                                                            <span class="w-space-no">@personel.Ad @personel.Soyad</span>
                                                        </div>
                                                    </td>
                                                    
													@if (personel.Gorunurluk == true)
													{
														<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
													}
													else
													{
														<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
													}

                                                    <td>
														<a asp-controller="Personel" asp-action="PersonelEkle" asp-route-id="@personel.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
														@if (personel.Gorunurluk == true)
														{
															<a asp-action="PersonelSil" asp-route-id="@personel.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
														}
														else
														{
															<a asp-action="PersonelSil" asp-route-id="@personel.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
														}
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>


	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="rolModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Rol Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>
			
			<form asp-action="Index" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:9px" class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label">Rol Adı</label>
							<input asp-for="Rol.Ad" type="text" class="form-control" placeholder="" required="">
							<span class="text-danger" asp-validation-for="Rol.Ad">  </span>

							<input asp-for="Rol.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
</div>

<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});
	</script>
}

