
@{
	ViewData["Title"] = "Ürün";
	int malzemeSayı = 0;
}
@model UrunViewModel

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Ürün</h2>
				<p class="mb-0">Cafe App Ürün Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<div style="text-align:center" class="d-none d-lg-block">
				<a data-bs-toggle="modal" data-bs-target="#ürünModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
					<span class="btn-icon-start text-primary">
						<i class="fa fa-user-plus color-primary"></i>
					</span>Ürün Ekle
				</a>
				@if (Model.Kategoriler.Count == 0)
				{
					<p style="color: red; font-size: 12px; text-align: center; padding-top:3px; margin-block:inherit"><i class="fa-sharp fa-solid fa-up"></i> İlk önce kategori eklemelisiniz! <i class="fa-sharp fa-solid fa-up"></i></p>
				}
				else
				{
					<br>
				}
			</div>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Ürün Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">

					<table id="example" class="display">
						<thead>
							<tr>
								<th></th>
								<th>ID</th>
								<th>AD</th>
								<th>AÇIKLAMA</th>
								<th>KATEGORİ</th>
								<th>FİYAT</th>
								<th>İNDİRİMLİ FİYAT</th>
								<th>GÖRÜNÜRLÜK</th>
								<th class="text-center" width="14%">İŞLEMLER</th>
							</tr>
						</thead>
						<tbody>

							@foreach (var urun in Model.Urunler)
							{

								<tr>
									<td><a data-bs-toggle="modal" data-bs-target="#urun_@urun.Id" class="btn btn-success shadow btn-xs sharp me-1" type="button"><i class="fas fa-info"></i></a></td>
										
									<th>@urun.Id</th>
									<td><div class="d-flex align-items-center"><img src="~/img/@urun.Fotograf" class="rounded-lg me-2" width="24" alt=""> <span class="w-space-no">  @urun.Ad</span></div></td>
									<td>@urun.Aciklama</td>
									<td>@urun.Kategori.Ad</td>
									<td>₺@urun.Fiyat</td>
									<td>₺@(urun.Fiyat-urun.IndirimliFiyat)</td>
									@if (urun.Gorunurluk == true)
									{
										<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
									}
									else
									{
										<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
									}
									<td>
										<a id="indirimButonu" data-bs-toggle="modal" data-bs-target="#urunIndirimModal" class="btn btn-success shadow btn-xs sharp rounded-circle me-1"><i class="fa-solid fa-badge-percent"></i></a>
										<a data-bs-toggle="modal" data-bs-target="#urunMalzemeModal_@urun.Id" data-urunid="@urun.Id" class="btn btn-warning shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-wheat"></i></a>
										<a data-bs-toggle="modal" data-bs-target="#ürünGuncelle_@urun.Id" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
										@if (urun.Gorunurluk == true)
										{
											<a asp-action="UrunSil" asp-route-id="@urun.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a>
										}
										else
										{
											<a asp-action="UrunSil" asp-route-id="@urun.Id" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash-undo"></i></a>
										}
									</td>
								</tr>

								@* Ürün Bilgisi *@
								<div class="modal modal-lg fade" id="urun_@urun.Id">
									<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">@urun.Ad Ürün Bilgisi</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal">
												</button>
											</div>

											<div class="modal-body">
												<div class="row">
													<div class="col-xl-6 col-sm-6 mb-3 mb-xl-0">
														<div class="card">
															<div class="card-header">
																<h4 class="card-title">@urun.Ad</h4>
															</div>
															<div class="card-body">

																<div class="row">
																	<div class="col-lg-12 order-lg-12 mb-4">
																		<ul class="list-group list-group-flush mb-3">

																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-solid fa-text"></i>
																						</span>
																						Ürün Ad
																					</h6>
																				</div>
																				<span class="text-muted text-end">@urun.Ad</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-solid fa-quote-right"></i>
																						</span>
																						Ürün Açıklama
																					</h6>
																				</div>
																				<span class="text-muted text-end">@urun.Aciklama</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-regular fa-list"></i>
																						</span>
																						Ürün Kategori
																					</h6>
																				</div>
																				<span class="text-muted text-end">@urun.Kategori.Ad</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-regular fa-money-bill"></i>
																						</span>
																						Ürün Fiyat
																					</h6>
																				</div>
																				<span class="text-muted text-end">₺@urun.Fiyat</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-sharp fa-solid fa-badge-percent"></i>
																						</span>
																						Ürün İndirimli Fiyat
																					</h6>
																				</div>
																				<span class="text-muted text-end">₺@(urun.Fiyat - urun.IndirimliFiyat)</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-regular fa-wave-pulse"></i>
																						</span>
																						Ürün Aktiflik
																					</h6>
																				</div>
																				<span class="text-muted text-end">@urun.Akitf</span>
																			</li>
																			<li class="list-group-item d-flex justify-content-between lh-condensed">
																				<div>
																					<h6 class="my-1">
																						<span class="icon-warning">
																							<i class="fa-solid fa-eye-slash"></i>
																						</span>
																						Ürün Görünürlük
																					</h6>
																				</div>
																				@if (urun.Gorunurluk == true)
																				{
																					<span class="text-success text-end" style="font-weight:bold">Görünür</span>
																				}
																				else
																				{
																					<span class="text-danger text-end" style="font-weight:bold">Görünmez</span>
																				}
																			</li>
																				
																		</ul>
																	</div>

																</div>
															</div>
														</div>
													</div>

													
													<div class="col-xl-6 col-sm-6 mb-3 mb-xl-0">
														<div class="card">
															<div class="card-header">
																@foreach (var malzemeBilgi in Model.UrunMalzemeler)
																{
																	if (malzemeBilgi.UrunId == urun.Id)
																	{
																		malzemeSayı += 1;
																	}
																}
																<h4 class="card-title">Malzemeler (@malzemeSayı)</h4>
																@{
																	malzemeSayı = 0;
																 }
															</div>
															<div class="card-body">

																<div class="row">
																	<div class="col-lg-12 order-lg-12 mb-4">
																		<ul class="list-group list-group-flush mb-3">
																			@foreach (var malzemeBilgi in Model.UrunMalzemeler)
																				{
																					if (malzemeBilgi.Urun.Id == urun.Id && malzemeBilgi.Gorunurluk == true)
																					{

																						<li class="list-group-item d-flex justify-content-between lh-condensed">
																							<div>
																								<h6 class="my-0">
																									<span class="icon-warning">
																										<i class="fa-solid fa-wheat"></i>
																									</span>
																									@malzemeBilgi.Malzeme.Ad
																								</h6>
																								<small class="text-success">₺@malzemeBilgi.Malzeme.Fiyat</small>
																								<small class="text-muted"> | </small>
																								<small class="text-danger">@malzemeBilgi.Miktar @malzemeBilgi.Malzeme.Tur</small>
																							</div>

																							<div>
																							@if (malzemeBilgi.Secenek == true)
																							{
																							<span class="text-muted"><a asp-action="MalzemeSecilebilir" asp-route-urunId="@urun.Id" asp-route-malzemeId="@malzemeBilgi.Malzeme.Id" class=" btn btn-warning shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-cart-minus"></i></a></span>
																							}
																							else
																							{
																							<span class="text-muted"><a asp-action="MalzemeSecilebilir" asp-route-urunId="@urun.Id" asp-route-malzemeId="@malzemeBilgi.Malzeme.Id" class=" btn btn-success shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-cart-plus"></i></a></span>
																							}
																							<span class="text-muted"><a asp-action="MalzemeSil" asp-route-id="@urun.Id" asp-route-malzemeId="@malzemeBilgi.Malzeme.Id" class=" btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa-solid fa-trash"></i></a></span>
																							</div>
																						</li>
																					}
																				}
																		</ul>
																	</div>
																</div>
															</div>
														</div>

													</div>
												</div>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
											</div>

										</div>
									</div>
								</div>

									
							}

						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
@if (Model.Kategoriler.Count != 0)
{
	<div class="modal modal-lg fade" id="ürünModal">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Ürün Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" enctype="multipart/form-data" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="Ad" asp-for="Urun.Ad" type="text" class="form-control" placeholder="">
							<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Ürün Adı</label>
								<span class="validation-text" asp-validation-for="Urun.Ad"></span>

						</div>
						<div class="form-floating col-md-6 mb-3">
							<input id="Aciklama" asp-for="Urun.Aciklama" type="text" class="form-control">
							<label for="Aciklama" class="form-label">&nbsp;&nbsp;&nbsp;Ürün Açıklama</label>
								<span class="validation-text" asp-validation-for="Urun.Aciklama"></span>

						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="Fiyat" asp-for="Urun.Fiyat" type="number" class="form-control" placeholder="" required="">
							<label for="Fiyat" class="form-label">&nbsp;&nbsp;&nbsp;Ürün Fiyat</label>
								<span class="validation-text" asp-validation-for="Urun.Fiyat"></span>
                            </div>
							<div class="col-md-6 mb-3">
                                <input asp-for="Urun.Fotograf" id="formFile" class="form-control" name="file" type="file">
                                <span class="validation-text" asp-validation-for="Urun.Fotograf"></span>
                            </div>
						</div>
						<div style="text-align:center; margin:auto; width: 50%;" class="row">
							<div class="col-md-12 mb-3">
								<select id="KategoriId" asp-for="Urun.KategoriId" class="default-select form-control wide w-100 required">
									<option value=0 disabled selected>Ürün Kategori</option>
									@foreach (var item in Model.Kategoriler)
									{
										<option value="@item.Id">@item.Ad</option>
									}
								</select>
									<span class="validation-text" asp-validation-for="Urun.KategoriId"></span>

							</div>
						</div>
						<input asp-for="Urun.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
						<input asp-for="Urun.Akitf" type="hidden" class="form-control" placeholder="" value=True required="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
	</div>
}
else
{
	ViewData["Tur"] = "Urun";
	<div class="col-12 col-md-6 col-lg-4">
		<partial name="partials/_KategoriPartial" model="Model.Kategori">
	</div>
}

@* Ürün Güncelle *@
@foreach (var urun in Model.Urunler)
{
	<div class="modal modal-lg fade" id="ürünGuncelle_@urun.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Ürün Düzenle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="Index" enctype="multipart/form-data" class="needs-validation" method="post">
					<div class="modal-body">
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="Ad" asp-for="Urun.Ad" type="text" value=@urun.Ad class="form-control" placeholder="">
								<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Ürün Adı</label>
								<span class="validation-text" asp-validation-for="Urun.Ad"></span>

							</div>
							<div class="form-floating col-md-6 mb-3">
								<input id="Aciklama" asp-for="Urun.Aciklama" type="text" value=@urun.Aciklama class="form-control" placeholder="" required="">
								<label for="Aciklama" class="form-label">&nbsp;&nbsp;&nbsp;Ürün Açıklama</label>
								<span class="validation-text" asp-validation-for="Urun.Aciklama"></span>

							</div>
						</div>
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="Fiyat" asp-for="Urun.Fiyat" type="text" value=@urun.Fiyat class="form-control" placeholder="" required="">
								<label for="Fiyat" class="form-label">&nbsp;&nbsp;&nbsp;Ürün Fiyat</label>
								<span class="validation-text" asp-validation-for="Urun.Fiyat"></span>
							</div>
							<div class="col-md-6 mb-3">
								<input asp-for="Urun.Fotograf" value=@urun.Fotograf id="formFile" class="form-control" name="file" type="file">
								<span class="validation-text" asp-validation-for="Urun.Fotograf"></span>

							</div>
						</div>
						<div style="text-align:center; margin:auto; width: 50%;" class="row">
							
							<div class="col-md-12 mb-3">
								<select id="KategoriId" asp-for="Urun.KategoriId" class="default-select form-control wide w-100 required">
									<option disabled>Ürün Kategori</option>
									@foreach (var item in Model.Kategoriler)
									{
										if (item.Id == urun.KategoriId)
										{
											<option value="@item.Id" selected>@item.Ad</option>
										}
										else
										{
											<option value="@item.Id">@item.Ad</option>
										}
									}
								</select>
								<span class="validation-text" asp-validation-for="Urun.KategoriId"></span>

							</div>
						</div>
						<input asp-for="Urun.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
						<input asp-for="Urun.Akitf" type="hidden" class="form-control" placeholder="" value=True required="">
						<input asp-for="Urun.Id" type="hidden" class="form-control" placeholder="" value=@urun.Id required="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	</div>
}


@* Malzeme Seç *@
@foreach (var urun in Model.Urunler)
{
	<div class="modal modal-md fade" id="urunMalzemeModal_@urun.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Malzemeleri Seç</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<form action="@Url.Action("MalzemeSec")" method="post" class="menuForm">
					<div class="modal-body">
						@foreach (var item in Model.Malzemeler)
						{
							<div class="form-check">
								@{
									// Urunlerin malzemelerle ilişkilendirilip ilişkilendirilmediğini kontrol ediyoruz
									var menuUrun = Model.UrunMalzemeler.FirstOrDefault(mu => mu.MalzemeId == item.Id && mu.UrunId == urun.Id);
									if (menuUrun != null)
									{
										<label class="form-check-label">@item.Ad - <strong class="text-success">₺@item.Fiyat</strong></label>
										<input type="checkbox" class="form-check-input" value="@item.Id" checked>
										<input type="number" class="form-control" name="miktar" placeholder="Miktar" value="@menuUrun.Miktar">
									}
									else
									{
										<label class="form-check-label">@item.Ad - <strong class="text-success">₺@item.Fiyat</strong></label>
										<input type="checkbox" class="form-check-input custom-checkbox checkbox-success" value="@item.Id">
										<input type="number" class="form-control" name="miktar" placeholder="Miktar" style="display:none;">
									}
								}
							</div>
						}

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="button" class="btn btn-primary submitBtn">Kaydet</button>
					</div>

					<input type="hidden" name="urunId" value="@urun.Id" />
					<input asp-for="@Model.SecilenMalzemeler" class="secilenMalzeme" type="hidden" />

				</form>
			</div>
		</div>
	</div>
}

@* Ürün İndirim *@
@foreach (var urun in Model.Urunler)
{
	<div class="modal modal-md fade" id="urunIndirimModal">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Malzemeleri Seç</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<form asp-action="UrunIndirim" method="post">
					<div class="modal-body">
						<div style="margin-bottom:14px" class="row">
							<!-- Buraya doldurulacak form alanları -->
							<div class="form-floating col-md-6 mb-3">
								<input id="indirimId" asp-for="Urun.Ad" value="" type="number" class="form-control" placeholder="">
								<label for="indirimId" class="form-label">&nbsp;&nbsp;&nbsp;İndirim Miktarı</label>
								<span class="validation-text" asp-validation-for="Urun.Ad"></span>
							</div>
							<div class="form-floating col-md-6 mb-3">
								<input id="indirimMiktar" asp-for="Urun.Aciklama" type="number" class="form-control" placeholder="">
								<label for="indirimMiktar" class="form-label">&nbsp;&nbsp;&nbsp;İndirim Yüzdesi</label>
								<span class="validation-text" asp-validation-for="Urun.Aciklama"></span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
}




<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});


		$('input[type="checkbox"]').change(function () {
			var input = $(this).siblings('input[name="miktar"]');
			if ($(this).is(':checked')) {
				input.show();
			} else {
				input.hide();
			}
		});

		$('.submitBtn').click(function (e) {
			e.preventDefault();
			var secilenMalzemeler = [];
			var form = $(this).closest('form'); // Bu butona ait formu bul
			form.find('input[type="checkbox"]:checked').each(function () { // Form içindeki seçili checkboxları bul
				var malzemeId = $(this).val();
				var miktar = $(this).siblings('input[name="miktar"]').val();
				secilenMalzemeler.push({ MalzemeId: malzemeId, Miktar: miktar });
			});
			var jsonData = JSON.stringify(secilenMalzemeler);
			form.find(".secilenMalzeme").val(jsonData);
			form.submit();
		});


		// Fotoğraf
		document.querySelector("#formFile").onchange = function () {
			const fileName = this.files[0]?.name;
			const label = document.querySelector("label[for=formFile]");
			label.innerText = fileName ?? "Fotoğraf Yükle";
		};



	</script>
}

