
@{
    ViewData["Title"] = "Tedarikçi";
}
@model Tedarikci

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Tedarikçi</h2>
				<p class="mb-0">Cafe App Tedarikçi Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<a data-bs-toggle="modal" data-bs-target="#tedarikciModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
				<span class="btn-icon-start text-primary">
					<i class="fa fa-user-plus color-primary"></i>
				</span>Tedarikçi Ekle
			</a>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Tedarikçi Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
				<div class="card-body">
					<div class="table-responsive">

						<table id="example" class="display">
							<thead>
								<tr>
									<th>ID</th>
									<th>FİRMA</th>
									<th>AD-SOYAD</th>
									<th>E-POSTA</th>
									<th>TELEFON</th>
									<th>ADRES</th>
									<th>KAYIT TARİHİ</th>
									<th style="width:85px;">İŞLEMLER</th>
								</tr>
							</thead>
							<tbody>

								@foreach (var tedarikci in ViewBag.Tedarikciler)
								{
									<tr>
										<td><b>@tedarikci.Id</b></td>
										<td>@tedarikci.Firma</td>
										<td>@tedarikci.AdSoyad</td>
										<td>@tedarikci.Eposta</td>
										<td>@tedarikci.Telefon</td>
										<td>@tedarikci.Adres</td>
										<td>@tedarikci.KayitTarihi</td>
										<td>
											<a href="javascript:void(0);" class="btn btn-primary shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											<a href="javascript:void(0);" class="btn btn-danger shadow btn-xs sharp rounded-circle"><i class="fa fa-trash"></i></a>
										</td>
									</tr>
								}

							</tbody>
						</table>

					</div>
				</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="tedarikciModal">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Tedarikçi Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" class="needs-validation " method="post">
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="ad" asp-for="Firma" type="text" class="form-control" placeholder="" >
							<label for="ad" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Firma</label>
							<div class="valid-feedback">Valid.</div>
							<div class="invalid-feedback">Please fill out this field.</div>
						</div>
						<div class="form-floating col-md-6 mb-3">
							<input id="soyad" asp-for="AdSoyad" type="text" class="form-control" placeholder="" required="">
							<label for="soyad" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Ad Soyad</label>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="tel" asp-for="Telefon" type="number" class="form-control" placeholder="" required="">
							<label for="tel" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Telefon</label>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
						<div class="form-floating col-md-6 mb-3">
							<input id="adres" asp-for="Adres" type="text" class="form-control" placeholder="" required="">
							<label for="adres" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Adres</label>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="eposta" asp-for="Eposta" type="text" class="form-control" placeholder="" required="">
							<label for="eposta" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi E-Posta</label>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
						<div class="form-floating col-md-6 mb-3">
							<input asp-for="KayitTarihi" id="datepicker2" class=" form-control mb-3 mb-xl-0" required>
							<label for="datepicker2" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Kayıt Tarihi</label>
							<div class="invalid-feedback">
								Zorunlu Alan
							</div>
						</div>
					</div>
					<input asp-for="Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
	</div>
</div>


<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr-TR',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

	</script>
}

