
@{
    ViewData["Title"] = "Index";
}
@model StokViewModel

<!-- CSS Ekstralar -->
<head>
	<link href="~/admin_panel/vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/select2/css/select2.min.css" rel="stylesheet" />
	<link href="~/admin_panel/vendor/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
</head>

<div class="content-body">
	<div class="container-fluid">
		<!-- Row -->

		<div class="form-head d-flex mb-3 align-items-start">
			<div class="me-auto d-none d-lg-block">
				<h2 class="text-primary font-w600 mb-0">Cafe App Stok</h2>
				<p class="mb-0">Cafe App Stok Yönetim Ekranına Hoşgeldiniz!</p>
			</div>

			<div style="text-align:center" class="d-none d-lg-block">
				<a data-bs-toggle="modal" data-bs-target="#stokGirdiModal" style="width:max-content; display: inline-block; vertical-align: middle;" type="button" class="btn btn-rounded btn-primary">
					<span class="btn-icon-start text-primary">
						<i class="fa fa-user-plus color-primary"></i>
					</span>Girdi Ekle
				</a>
				@if (Model.Tedarikciler.Count == 0)
				{
					<p style="color: red; font-size: 12px; text-align: center; padding-top:3px; margin-block:inherit"><i class="fa-sharp fa-solid fa-up"></i> İlk önce tedarikçi eklemelisiniz! <i class="fa-sharp fa-solid fa-up"></i></p>
				}
				else if (Model.Malzemeler.Count == 0)
				{
					<p style="color: red; font-size: 12px; text-align: center; padding-top:3px; margin-block:inherit"><i class="fa-sharp fa-solid fa-up"></i> İlk önce malzeme eklemelisiniz! <i class="fa-sharp fa-solid fa-up"></i></p>
				}
				else
				{
					<br>
				}
			</div>
		</div>
		<br>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Stok Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
				<div class="card-body">
					<div class="table-responsive">

						<table id="example" class="display">
							<thead>
								<tr>
									<th>ID</th>
									<th>MALZEME</th>
									<th>MİKTAR</th>
									<th>MİNİMUM STOK</th>
									<th>MAXİMUM STOK</th>
									<th>GÖRÜNÜRLÜK</th>
									<th style="text-align:center;">İŞLEMLER</th>
								</tr>
							</thead>
							<tbody>

								@foreach (var stok in Model.Stoklar)
								{

									<tr>
										<td><b>@stok.Id</b></td>
										<td>@stok.Malzeme?.Ad</td>
										<td>@stok.Miktar</td>
										<td>@stok.MinStok</td>
										<td>@stok.MaxStok</td>
										@if (stok.Gorunurluk == true)
										{
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
										}
										else
										{
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
										}
										@if (stok.Miktar != 0)
										{
											<td style="text-align:center;">
												<a data-bs-placement="top" data-bs-title="Son Stok Girdisini Güncelle" data-bs-toggle="modal" data-bs-target="#stokGirdiGuncelleModal_@stok.Id" class="btn btn-warning shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											</td>
										}
										else
										{
											<td style="text-align:center;">
												<a data-bs-placement="top" data-bs-title="Stok Ekle" data-bs-toggle="modal" data-bs-target="#stokGirdiModal" class="btn btn-success shadow btn-xs sharp rounded-circle me-1"><i class="fa fa-pencil"></i></a>
											</td>
										}
									</tr>

									


								}

							</tbody>
						</table>

					</div>
				</div>
		</div>

		<div class="filter cm-content-box box-primary">
			<div class="content-title">
				<div class="cpa">
					<i class="fa-solid fa-file-lines me-1"></i>Stok Girdi Listesi
				</div>
				<div class="tools">
					<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
				</div>
			</div>
			<div class="cm-content-body form excerpt">
				<div class="card-body">
					<div class="table-responsive">

						<table class="table table-responsive-sm mb-0">
							<thead>
								<tr>
									<th><strong>Id</strong></th>
									<th><strong>Malzeme</strong></th>
									<th><strong>Alış FİYATI</strong></th>
									<th><strong>SON STOK MiKTARI</strong></th>
									<th><strong>MİKTAR</strong></th>
									<th><strong>TARİH</strong></th>
									<th><strong>TEDARİKÇİ FİRMA</strong></th>
									<th><strong>TEDARİKÇİ E-POSTA</strong></th>
									<th><strong>GÖRÜNÜRLÜK</strong></th>
								</tr>
							</thead>
							<tbody>

								@foreach (var stok in Model.StokGirdiler)
								{

									<tr>
										<th>@stok.Id</th>
										<td>@stok.Malzeme?.Ad</td>
										<td>₺@stok.AlısFiyati</td>
										<td>@stok.SonStokMiktari</td>
										<td>@stok.Miktar</td>
										<td>@stok.Tarih</td>
										<td>@stok.Tedarikci?.Firma</td>
										<td>@stok.Tedarikci?.Eposta</td>
										@if (stok.Gorunurluk == true)
										{
											<td class="recent-stats"><i class="fa fa-circle text-success me-1"></i>Görünür</td>
										}
										else
										{
											<td class="recent-stats"><i class="fa fa-circle text-danger me-1"></i>Görünmez</td>
										}
									</tr>

								}

							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="stokGirdiModal">
	@if (Model.Tedarikciler.Count == 0)
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Tedarikçi Ekle</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal">
						</button>
					</div>

					<form asp-action="Index" method="post" novalidate>
						<div class="modal-body">
							<div style="margin-bottom:14px" class="row">
								<div class="form-floating col-md-6 mb-3">
									<input id="Firma" asp-for="Tedarikci.Firma" type="text" class="form-control" placeholder="">
									<label for="Firma" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Firma</label>
								<span class="validation-text" asp-validation-for="Tedarikci.Firma">  </span>

								</div>
								<div class="form-floating col-md-6 mb-3">
								<input id="AdSoyad" asp-for="Tedarikci.AdSoyad" type="text" class="form-control" placeholder="" required="">
									<label for="AdSoyad" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Ad Soyad</label>
								<span class="validation-text" asp-validation-for="Tedarikci.AdSoyad">  </span>

								</div>
							</div>
							<div style="margin-bottom:14px" class="row">
								<div class="form-floating col-md-6 mb-3">
								<input id="tel" asp-for="Tedarikci.Telefon" type="text" class="form-control phone-mask" placeholder="(500)-000-00-00" required="">
								<label for="tel" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Telefon</label>
								<span class="validation-text" asp-validation-for="Tedarikci.Telefon">  </span>

								</div>
								<div class="form-floating col-md-6 mb-3">
								<input id="adres" asp-for="Tedarikci.Adres" type="text" class="form-control" placeholder="" required="">
									<label for="adres" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Adres</label>
								<span class="validation-text" asp-validation-for="Tedarikci.Adres">  </span>

								</div>
							</div>
							<div style="margin-bottom:14px" class="row">
								<div class="form-floating col-md-6 mb-3">
								<input id="eposta" asp-for="Tedarikci.Eposta" type="text" class="form-control" placeholder="" required="">
									<label for="eposta" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi E-Posta</label>
								<span class="validation-text" asp-validation-for="Tedarikci.Eposta">  </span>

								</div>
								<div class="form-floating col-md-6 mb-3">
								<input asp-for="Tedarikci.KayitTarihi" id="datepicker2" class=" form-control mb-3 mb-xl-0" required>
									<label for="datepicker2" class="form-label">&nbsp;&nbsp;&nbsp;Tedarikçi Kayıt Tarihi</label>
								<span class="validation-text" asp-validation-for="Tedarikci.KayitTarihi">  </span>

								</div>
							</div>
						<input asp-for="Tedarikci.Gorunurluk" type="hidden" class="form-control" value=True required="">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
							<button type="submit" class="btn btn-primary">Kaydet</button>
						</div>
					</form>

				</div>
			</div>
	}
	else if (Model.Malzemeler.Count == 0)
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Malzeme Ekle</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal">
						</button>
					</div>

					<form asp-action="Index" method="post" novalidate>
						<div class="modal-body">
							<div style="margin-bottom:14px" class="row">
								<div class="form-floating col-md-6 mb-3">
									<input id="Ad" asp-for="Malzeme.Ad" type="text" class="form-control" placeholder="">
									<label for="Ad" class="form-label">&nbsp;&nbsp;&nbsp;Malzeme Adı</label>
								<span class="validation-text" asp-validation-for="Malzeme.Ad"></span>

								</div>
								<div class="form-floating col-md-6 mb-3">
								<input id="Fiyat" asp-for="Malzeme.Fiyat" type="number" class="form-control" placeholder="">
									<label for="Fiyat" class="form-label">&nbsp;&nbsp;&nbsp;Malzeme Fiyat</label>
								<span class="validation-text" asp-validation-for="Malzeme.Fiyat"></span>

								</div>
							</div>
							<div style="margin-bottom:14px" class="row">
								<div class="form-floating col-md-6 mb-3">
								<input id="minStok" asp-for="Malzeme.Stok.MinStok" type="number" class="form-control" placeholder="">
									<label for="minStok" class="form-label">&nbsp;&nbsp;&nbsp;Minimum Stok</label>
								<span class="validation-text" asp-validation-for="Malzeme.Stok.MinStok"></span>

								</div>
								<div class="form-floating col-md-6 mb-3">
								<input id="maxStok" asp-for="Malzeme.Stok.MaxStok" type="number" class="form-control" placeholder="" required="">
									<label for="maxStok" class="form-label">&nbsp;&nbsp;&nbsp;Maximum Stok</label>
								<span class="validation-text" asp-validation-for="Malzeme.Stok.MaxStok"></span>

								</div>
							</div>
							<div style="margin-bottom:14px; text-align:center; margin:auto; width: 50%;" class="row">
								<div class="col-md-12 mb-3">
								<select id="Tur" asp-for="Malzeme.Tur" class="default-select form-control wide w-100 required">
										<option disabled selected>Malzeme Kategori</option>
										<option value="Kilogram">Kilogram</option>
										<option value="Litre">Litre</option>
										<option value="Adet">Adet</option>
									</select>
								<span class="validation-text" asp-validation-for="Malzeme.Tur"></span>

								</div>
							</div>
						<input asp-for="Malzeme.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
						<input asp-for="Malzeme.Stok.Miktar" type="hidden" class="form-control" placeholder="" value=0 required="">
						<input asp-for="Malzeme.Stok.Gorunurluk" type="hidden" class="form-control" placeholder="" value=true required="">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
							<button type="submit" class="btn btn-primary">Kaydet</button>
						</div>
					</form>

				</div>
			</div>
	}
	else
	{
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Stok Girdi Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>

			<form asp-action="Index" enctype="multipart/form-data" method="post" novalidate>
				<div class="modal-body">
					<div style="margin-bottom:14px" class="row">
						<div class="col-md-6 mb-3">
							<select id="MalzemeId" asp-for="StokGirdi.MalzemeId" class="default-select form-control wide w-100 required">
								<option disabled selected>Malzeme</option>
								@foreach (var item in Model.Malzemeler)
								{
									<option value="@item.Id">@item.Ad</option>
								}
							</select>
								<span class="validation-text" asp-validation-for="StokGirdi.MalzemeId"></span>

						</div>
						<div class="col-md-6 mb-3">
							<select id="TedarikciId" asp-for="StokGirdi.TedarikciId" class="default-select form-control wide w-100 required">
								<option disabled selected>Tedarikçi Firma</option>
								@foreach (var item in Model.Tedarikciler)
								{
									<option value="@item.Id">@item.Firma</option>
								}
							</select>
								<span class="validation-text" asp-validation-for="StokGirdi.TedarikciId"></span>

						</div>
					</div>
					<div style="margin-bottom:14px" class="row">
						<div class="form-floating col-md-6 mb-3">
							<input id="Miktar" asp-for="StokGirdi.Miktar" type="number" class="form-control" placeholder="">
							<label for="Miktar" class="form-label">&nbsp;&nbsp;&nbsp;Miktar</label>
								<span class="validation-text" asp-validation-for="StokGirdi.Miktar"></span>

						</div>
						<div class="form-floating col-md-6 mb-3">
							<input id="AlısFiyati" asp-for="StokGirdi.AlısFiyati" type="number" class="form-control" placeholder="" required="">
							<label for="AlısFiyati" class="form-label">&nbsp;&nbsp;&nbsp;Alış Fiyatı</label>
								<span class="validation-text" asp-validation-for="StokGirdi.AlısFiyati"></span>

						</div>
					</div>
					<input asp-for="StokGirdi.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
					<input asp-for="StokGirdi.SonStokMiktari" type="hidden" class="form-control" placeholder="" value=0 required="">
					<input asp-for="StokGirdi.Tarih" type="hidden" class="form-control" placeholder="" value=@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss") required="">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>

		</div>
		</div>
	}
</div>

@* Stok Girdi Düzenle *@
@foreach (var stok in Model.Stoklar)
{
	<div class="modal modal-lg fade" id="stokGirdiGuncelleModal_@stok.Id">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Stok Girdi Güncelle Ekle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal">
					</button>
				</div>

				<form asp-action="StokGirdiGuncelle" enctype="multipart/form-data" method="post" novalidate>
					<div class="modal-body">
						@{
							StokGirdi stokGirdiGuncelle = null;
							foreach (StokGirdi girdi in Model.StokGirdiler)
							{
								if (girdi.MalzemeId == stok.MalzemeId)
								{
									stokGirdiGuncelle = girdi;
									break;
								}
							}
						}
						<div style="margin-bottom:14px" class="row">
							<div class="col-md-6 mb-3">
								<select id="MalzemeId" asp-for="StokGirdi.MalzemeId" value="@stokGirdiGuncelle?.MalzemeId" class="default-select form-control wide w-100 required">
									<option selected>Malzeme Ad</option>
									@foreach (var item in Model.Malzemeler)
									{
										if (stokGirdiGuncelle?.Malzeme?.Id == item.Id)
										{
											<option value="@item.Id" selected>@item.Ad</option>
										}
										else
										{
											<option value="@item.Id">@item.Ad</option>
										}
									}
								</select>
								<span class="validation-text" asp-validation-for="StokGirdi.MalzemeId"></span>

							</div>
							<div class="col-md-6 mb-3">
								<select id="TedarikciId" asp-for="StokGirdi.TedarikciId" class="default-select form-control wide w-100 required">
									<option>Tedarikçi Firma</option>
									@foreach (var item in Model.Tedarikciler)
									{
										if (stokGirdiGuncelle?.Tedarikci?.Id == item.Id)
										{
											<option value="@item.Id" selected>@item.Firma</option>
										}
										else
										{
											<option value="@item.Id">@item.Firma</option>
										}
									}
								</select>
								<span class="validation-text" asp-validation-for="StokGirdi.TedarikciId"></span>

							</div>
						</div>
						<div style="margin-bottom:14px" class="row">
							<div class="form-floating col-md-6 mb-3">
								<input id="Miktar" asp-for="StokGirdi.Miktar" value="@stokGirdiGuncelle?.Miktar" type="number" class="form-control" placeholder="" required="">
								<label for="Miktar" class="form-label">&nbsp;&nbsp;&nbsp;Miktar</label>
								<span class="validation-text" asp-validation-for="StokGirdi.Miktar"></span>

							</div>
							<div class="form-floating col-md-6 mb-3">
								<input id="AlısFiyati" asp-for="StokGirdi.AlısFiyati" value="@stokGirdiGuncelle?.AlısFiyati" type="number" class="form-control" placeholder="" required="">
								<label for="AlısFiyati" class="form-label">&nbsp;&nbsp;&nbsp;Alış Fiyatı</label>
								<span class="validation-text" asp-validation-for="StokGirdi.AlısFiyati"></span>

							</div>
						</div>
						<input asp-for="StokGirdi.Gorunurluk" type="hidden" class="form-control" placeholder="" value=True required="">
						<input asp-for="StokGirdi.SonStokMiktari" type="hidden" class="form-control" placeholder="" value=0 required="">
						<input asp-for="StokGirdi.Tarih" type="hidden" class="form-control" placeholder="" value=@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss") required="">
						<input asp-for="StokGirdi.Id" type="hidden" class="form-control" placeholder="" value="@stokGirdiGuncelle?.Id" required="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</div>
				</form>

			</div>
		</div>
	</div>
}

<!-- JS Ekstralar -->
@section Scripts
{
	<script src="~/admin_panel/vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin_panel/vendor/select2/js/select2.full.min.js"></script>
	<script src="~/admin_panel/js/dashboard/cms.js"></script>
	<script src="~/admin_panel/vendor/ckeditor/ckeditor.js"></script>
	<script src="~/admin_panel/vendor/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/admin_panel/js/plugins-init/datatables.init.js"></script>

	<script>
		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="modal"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

		$(function () {
			$("#datepicker").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(function () {
			$("#datepicker2").datepicker({
				language: 'tr',
				format: 'dd/mm/yyyy',
				autoclose: true,
				todayHighlight: true
			}).datepicker('update', new Date());

		});

		$(document).ready(function () {


			// JavaScript kullanarak inputları göster/gizle
			document.querySelectorAll('.toggleInput').forEach(function (checkbox) {
				checkbox.addEventListener('change', function () {
					var input = this.closest('.timeline-panel').querySelector('input[type="text"]');
					if (this.checked) {
						input.style.display = 'block';
					} else {
						input.style.display = 'none';
					}
				});
			});
		});

		// Fotoğraf
		document.querySelector("#formFile").onchange = function () {
			const fileName = this.files[0]?.name;
			const label = document.querySelector("label[for=formFile]");
			label.innerText = fileName ?? "Fotoğraf Yükle";
		};



	</script>
}

