@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json

@{
    var cartJson = HttpContextAccessor.HttpContext.Session.GetString("Cart");
    var cart = string.IsNullOrEmpty(cartJson) ? new Cart() : JsonConvert.DeserializeObject<Cart>(cartJson);

    float toplam = 0;
    foreach (var item in cart.Items)
    {

        if (item.Urun != null)
        {
            toplam += (item.Fiyat * item.Quantity);
        }
        else
        {
            toplam += (item.Fiyat * item.Quantity);
        }
    }
}

<!doctype html>
<html class="no-js" lang="zxx">
<!-- Mirrored from themeholy.com/html/pizzan/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Apr 2024 12:14:34 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cafe App Müşteri</title>
    <meta name="author" content="Themeholy">
    <meta name="description" content="Pizzan - Fast Food & Restaurant HTML Template">
    <meta name="keywords" content="Pizzan - Fast Food & Restaurant HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="/home_panel/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/home_panel/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/home_panel/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/home_panel/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/home_panel/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/home_panel/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/home_panel/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/home_panel/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/home_panel/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/home_panel/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/home_panel/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/home_panel/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/home_panel/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/home_panel/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/home_panel/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&amp;family=Roboto:wght@100;300;400;500;700&amp;family=Rubik:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/home_panel/css/app.min.css">
    <link rel="stylesheet" href="/home_panel/css/fontawesome.min.css">
    <link rel="stylesheet" href="/home_panel/css/style.css">

    <link href="/css/toastr.css" rel="stylesheet" />
    <link href="/css/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <div class="preloader">
        <button class="th-btn style3 preloaderCls">Cancel Preloader</button>
        <div class="preloader-inner"><span class="loader"></span></div>
    </div>
    
    <div class="sidemenu-wrapper d-none d-lg-block">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget woocommerce widget_shopping_cart">
                <h3 class="widget_title">Sepet</h3>
                <div class="widget_shopping_cart_content">
                    <ul class="woocommerce-mini-cart cart_list product_list_widget">
                        @foreach (var urun in cart.Items)
                        {
                            @if (urun.Urun != null)
                            {
                                <li class="woocommerce-mini-cart-item mini_cart_item">
                                    <a href="#" class="remove remove_from_cart_button">
                                        <i class="far fa-times"></i>
                                    </a>
                                    <a href="#"><img width="50px" src="~/img/@urun.Urun.Fotograf" alt="Fotoğraf">@urun.Urun.Ad</a>
                                    @if (urun.Fiyat != 0)
                                    {
                                        <span class="quantity">
                                            @urun.Quantity × <span class="woocommerce-Price-amount amount">
                                            
                                                    <span class="woocommerce-Price-currencySymbol"></span>@urun.Fiyat ₺
                                            </span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="quantity">
                                            @urun.Quantity × <span class="woocommerce-Price-amount amount">

                                                <span class="woocommerce-Price-currencySymbol"></span>@urun.Urun.Fiyat ₺
                                            </span>
                                        </span>
                                    }
                                </li>
                            }
                            else
                            {
                                <li class="woocommerce-mini-cart-item mini_cart_item">
                                    <a href="#" class="remove remove_from_cart_button">
                                        <i class="far fa-times"></i>
                                    </a>
                                    <a href="#"><img width="50px" src="~/img/@urun.Menu.Fotograf" alt="Fotoğraf">@urun.Menu.Ad</a>
                                    @if (urun.Fiyat != 0)
                                    {
                                        <span class="quantity">
                                            @urun.Quantity × <span class="woocommerce-Price-amount amount">

                                                <span class="woocommerce-Price-currencySymbol"></span>@urun.Fiyat ₺
                                            </span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="quantity">
                                            @urun.Quantity × <span class="woocommerce-Price-amount amount">

                                                <span class="woocommerce-Price-currencySymbol"></span>@urun.Menu.Fiyat ₺
                                            </span>
                                        </span>
                                    }
                                </li>
                            }

                        }
                    </ul>
                    <p class="woocommerce-mini-cart__total total"><strong>Ara Toplam:</strong> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>@toplam ₺</span></p>
                    <p class="woocommerce-mini-cart__buttons buttons"><a asp-controller="Cart" asp-action="cart" class="th-btn wc-forward">Sepete Git</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#"><input type="text" placeholder="Ne arıyorsunuz?"> <button type="submit"><i class="fal fa-search"></i></button></form>
    </div>
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a asp-controller="Musteri" asp-action="Index"><img src="/home_panel/img/logo.svg" alt="Pizzan"></a></div>
            <div class="th-mobile-menu">
                <ul>
                    <li><a asp-controller="Urun" asp-action="Index">Ürünler</a></li>
                    <li><a asp-controller="Menu" asp-action="Index">Menüler</a></li>
                    <li><a asp-controller="Cart" asp-action="Cart">Sepet</a></li>
                    <li><a href="#">Çok Satılanlar</a></li>
                    <li><a asp-controller="Hakkımızda" asp-action="Index">Hakkımızda</a></li>
                    <li><a asp-controller="BizeUlasin" asp-action="Index">Bize Ulaşın</a></li>
                </ul>
            </div>
        </div>
    </div>
    <header class="th-header header-layout5">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center">
                    <div class="col-auto d-none d-lg-block">
                        <p class="header-notice">250₺ Üzeri Tüm Siparişlerde Ücretsiz Teslimat</p>
                    </div>
                    <div class="col-auto">
                        <div class="header-links">
                            <ul>
                                <li><i class="fal fa-location-dot"></i>Azmimilli, Serhat Sk. 81020 Düzce Merkez / Cafe App</li>
                                <li>
                                    <div class="header-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a asp-controller="Musteri" asp-action="Index"><img src="/home_panel/img/logo-white.svg" alt="Cafe App"></a></div>
                        </div>
                        <div class="col-auto me-xl-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li><a asp-controller="Urun" asp-action="Index">Ürünler</a></li>
                                    <li><a asp-controller="Menu" asp-action="Index">Menüler</a></li>
                                    <li><a asp-controller="Rezervasyon" asp-action="Index">Rezervasyon</a></li>
                                    <li><a asp-controller="Hakkımızda" asp-action="Index" >Hakkımızda</a></li>
                                    <li><a asp-controller="BizeUlasin" asp-action="Index">BİZE Ulaşın</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <div class="header-button">
                                <div class="header-info">
                                    <div class="header-info_icon"><a href="%2b1233025550107.html"><img src="/home_panel/img/update_2/icon/phone-call.svg" alt=""></a></div>
                                    <div class="media-body">
                                        <span class="header-info_label">7/24 Numaramız</span>
                                        <p class="header-info_link"><a href="tel:+5467689600">546 768 96 00</a></p>
                                    </div>
                                </div>
                                <button type="button" class="simple-icon searchBoxToggler"><i class="far fa-search"></i></button> <button type="button" class="simple-icon sideMenuToggler"><i class="far fa-cart-shopping"></i> 
                                    @if (cart.Items.Count != 0)
                                    {
                                        <span class="badge">@cart.Items.Count</span>
                                    }
                                </button><a asp-controller="Rezervasyon" asp-action="Index" class="th-btn style3 rounded-2">Rezervasyon<i class="fa-solid fa-arrow-right ms-2"></i></a> <button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo-bg"></div>
            </div>
        </div>
    </header>


    @RenderBody()


    <footer class="footer-wrapper footer-layout5" data-bg-src="~/home_panel/img/update_2/bg/footer_bg_5.png">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Restoran Hakkında</h3>
                            <div class="th-widget-about">
                                <p class="about-text">Cafe App, kaliteli yemek tutkunlarına yönelik yenilikçi bir platform olarak sektörde kendimize sağlam bir yer ediniyoruz. Müşterilerimize, en sevdikleri restorantdan kolayca sipariş vermelerini sağlayarak sektördeki konumumuzu güçlendiriyoruz.</p>
                                <div class="th-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/in/kaganmuslu/"><i class="fab fa-linkedin-in"></i></a> <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Hızlı Git</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a asp-controller="Urun" asp-action="Index">Ürünler</a></li>
                                    <li><a asp-controller="Menu" asp-action="Index">Menüler</a></li>
                                    <li><a asp-controller="Hakkımızda" asp-action="Index">Hakkımızda</a></li>
                                    <li><a asp-controller="Rezervasyon" asp-action="Index">Rezervasyon</a></li>
                                    <li><a asp-controller="BizeUlasin" asp-action="Index">Bize Ulaşın</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Recent Posts</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img"><a href="blog-details.html"><img src="/home_panel/img/update_2/blog/recent-post-2-1.jpg" alt="Blog Image"></a></div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">10 Reasons To Do A Digital Detox Challenge</a></h4>
                                        <div class="recent-post-meta"><a href="blog.html"><i class="fal fa-calendar-days"></i>21 June, 2023</a></div>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img"><a href="blog-details.html"><img src="/home_panel/img/update_2/blog/recent-post-2-2.jpg" alt="Blog Image"></a></div>
                                    <div class="media-body">
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">New Restaurant Town Our Ple Award Contract</a></h4>
                                        <div class="recent-post-meta"><a href="blog.html"><i class="fal fa-calendar-days"></i>22 June, 2023</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">İletişime Geçin</h3>
                            <div class="th-widget-contact">
                                <div class="info-box">
                                    <div class="info-box_icon"><i class="fal fa-location-dot"></i></div>
                                    <p class="info-box_text">Azmimilli, Serhat Sk. 81020 Düzce Merkez</p>
                                </div>
                                <div class="info-box">
                                    <div class="info-box_icon"><i class="fal fa-mobile-button"></i></div>
                                    <p class="info-box_text"><a href="tel:+905464567890" class="info-box_link">+(90) 546 456 7890</a> <a href="tel:+905467687746" class="info-box_link">+(90) 546 768 77 46</a></p>
                                </div>
                                <div class="info-box">
                                    <div class="info-box_icon"><i class="fal fa-envelope"></i></div>
                                    <p class="info-box_text"><a href="mailto:info.cafeappcii@gmail.com" class="info-box_link">info.cafeappcii@gmail.com</a> <a href="mailto:info@cafeapp.com" class="info-box_link">info@cafeapp.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-bottom">
                <div class="row gx-0 align-items-center">
                    <div class="col-lg-6 col-xl-4">
                        <h5 class="newsletter-title">Gönderilerimize Abone Olun</h5>
                    </div>
                    <div class="col-lg-6 col-xl-8">
                        <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Adresiniz" required=""> <button type="submit" class="th-btn style3">Abone Ol<i class="fa-solid fa-paper-plane ms-2"></i></button></form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a href="https://www.linkedin.com/in/kaganmuslu/">Ünal Kağan MUSLU</a>. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 text-end d-none d-lg-block">
                        <div class="footer-links">
                            <ul>
                                <li><a href="about.html">Gizlilik Politikası</a></li>
                                <li><a href="about.html">Şartlar ve Koşullar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <script src="/home_panel/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/home_panel/js/app.min.js"></script>
    <script src="/home_panel/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/toastr.min.js"></script>

    @if (TempData["SepeteEklendi"] != null)
    {
        <script>
            Command: toastr["success"]("'@TempData["SepeteEklendi"]' Sepete Eklendi!", "Sepete Eklendi!",
            {
                positionClass: "toast-bottom-right",
                progressBar: true,
            })
        </script>
    }


    @await RenderSectionAsync("Scripts", required: false)
    @{
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

</body>
<!-- Mirrored from themeholy.com/html/pizzan/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Apr 2024 12:14:34 GMT -->
</html>